<div
    class="relative lg:bg-[url('/assets/image/page-smyth-ramintra/design-concept/bg-all.png')] bg-[url('/assets/image/page-smyth-ramintra/design-concept/bg-all-m.png')] bg-cover bg-left">
    <div class="pt-10 pb-20">
        <div class="container mx-auto lg:px-5 px-0">
            <div class="flex flex-col gap-10" data-aos="fade-up" data-aos-duration="1000" data-aos-easing="linear">
                <div>
                    <h2 class="font-['DB_Heavent'] text-[#56362A] text-[70px] text-center" data-aos="fade-up"
                        data-aos-duration="500" data-aos-easing="linear">
                        จุดเด่นโครงการ
                    </h2>
                </div>
                <div class="flex flex-col lg:px-20 lg:gap-10 gap-5">
                    <div class="lg:mx-0 -mx-20">
                        <img src="/assets/image/page-smyth-ramintra/description/ramintra-1.png" alt="" class="w-full"
                            data-aos="fade-up" data-aos-duration="500" data-aos-easing="linear" data-aos-delay="100">
                    </div>
                    <div class="flex flex-col gap-2 lg:px-0 px-5">
                        <p class="font-['Gotham'] text-[#56362A] text-[20px] font-normal" data-aos="fade-up"
                            data-aos-duration="500" data-aos-easing="linear" data-aos-delay="200">
                            Sanctuary Of Seclusion
                        </p>
                        <p class="text-[#56362A] text-[14px]" data-aos="fade-up" data-aos-duration="500"
                            data-aos-easing="linear" data-aos-delay="300">
                            ออกแบบบนพื้นฐานที่เน้นความเป็นส่วนตัว ​
                            <br class="lg:block hidden" />
                            วางแปลนให้แต่ละบ้านมี Private Court ซึ่งได้ถูกออกแบบให้เป็นจุดนำ
                            <br class="lg:block hidden" />
                            สายตาของทุกพื้นที่ในส่วนหลักๆ ของบ้าน สร้างความเป็นส่วนตัวสูง
                        </p>
                    </div>
                </div>
                <div class="flex lg:gap-10 gap-5 lg:mt-20 lg:flex-row flex-col">
                    <div class="lg:w-3/5 w-full">
                        <img src="/assets/image/page-smyth-ramintra/description/ramintra-2.png" alt="" class="w-full"
                            data-aos="fade-up" data-aos-duration="500" data-aos-easing="linear" data-aos-delay="100">
                    </div>
                    <div class="flex flex-col gap-2 lg:w-2/5 w-full justify-center lg:px-0 px-5">
                        <p class="font-['Gotham'] text-[#56362A] text-[20px] font-normal" data-aos="fade-up"
                            data-aos-duration="500" data-aos-easing="linear" data-aos-delay="200">
                            Hideaway Chamber (Mancave)
                        </p>
                        <p class="text-[#56362A] text-[14px]" data-aos="fade-up" data-aos-duration="500"
                            data-aos-easing="linear" data-aos-delay="300">
                            ออกแบบให้มีพื้นที่ส่วนตัวที่มีความพิเศษ Hideaway Chamber ซึ่งเชื่อมต่อกับ Supercar Garage
                            และเป็นห้องที่เพดานสูงแบบ Double Volume Space
                            โดยมีความพิเศษที่แตกต่างคือทางเดินที่เชื่อมไปยังชั้น 2 ของตัวบ้านได้อีกด้วย
                            หรือสามารถปรับเปลี่ยนพื้นที่นี้ให้เป็นห้องในฝัน
                            ได้ตามความต้องการ​
                        </p>
                    </div>
                </div>
                <div class="flex lg:gap-10 gap-5 lg:mt-20 lg:flex-row flex-col-reverse">
                    <div class="lg:w-1/2 w-full my-auto flex lg:px-0 px-5">
                        <div class="lg:w-2/3 ml-auto space-y-2">
                            <p class="font-['Gotham'] text-[#56362A] text-[20px] font-normal" data-aos="fade-up"
                                data-aos-duration="500" data-aos-easing="linear" data-aos-delay="100">
                                SIMPLIFIED CUSTOMIZABLE PLAN ​
                            </p>
                            <p class="text-[#56362A] text-[14px]" data-aos="fade-up" data-aos-duration="500"
                                data-aos-easing="linear" data-aos-delay="200">
                                ออกแบบให้สามารถปรับเปลี่ยนพื้นที่ได้ตามความต้องการและไลฟ์สไตล์ของสมาชิกทุกคนภายในบ้าน
                                (Flexible
                                and customizable) เพื่อให้สอดรับกับการใช้ชีวิตของผู้อยู่อาศัยทุกเพศทุกวัย​
                            </p>
                        </div>
                    </div>
                    <div class="lg:w-1/2 w-full lg:px-10" data-aos="fade-up" data-aos-duration="1000"
                        data-aos-easing="linear">
                        <img src="/assets/image/page-smyth-ramintra/description/ramintra-3.png" class="lg:block hidden"
                            alt="" data-aos="fade-up" data-aos-duration="500" data-aos-easing="linear"
                            data-aos-delay="100">
                        <img src="/assets/image/page-smyth-ramintra/description/ramintra-3-m.png" alt=""
                            class="lg:hidden block w-full" data-aos="fade-up" data-aos-duration="500"
                            data-aos-easing="linear" data-aos-delay="100">
                    </div>
                </div>
                <div class="flex flex-col lg:px-20 lg:gap-10 gap-5 lg:mt-20">
                    <div>
                        <img src="/assets/image/page-smyth-ramintra/description/ramintra-4.png" alt="" class="w-full"
                            data-aos="fade-up" data-aos-duration="500" data-aos-easing="linear" data-aos-delay="100">
                    </div>
                    <div class="flex flex-col gap-2 lg:px-0 px-5">
                        <p class="font-['Gotham'] text-[#56362A] text-[20px] font-normal" data-aos="fade-up"
                            data-aos-duration="500" data-aos-easing="linear" data-aos-delay="200">
                            ULTIMATE PARKING SPACE
                        </p>
                        <p class="text-[#56362A] text-[14px]" data-aos="fade-up" data-aos-duration="500"
                            data-aos-easing="linear" data-aos-delay="300">
                            A parking space that can accommodate up to 10 cars, including 4 indoor parking spaces, 2
                            spaces
                            in a supercar garage, and an additional 4 spaces with a parking lift system.​
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="relative min-h-screen bg-[#F5F5F1] lg:px-0 px-5" id="info">
        <div class="flex h-full">
            <div
                class="w-1/4 py-20 lg:block hidden bg-[url('/assets/image/page-smyth-kaset/description/info.png')] bg-cover bg-center">
                <div class="relative flex flex-col px-20" data-aos="fade-up" data-aos-duration="500"
                    data-aos-easing="linear">
                    <ul class="space-y-4 ml-auto">
                        <li class="group cursor-pointer" onclick="toggleDiv('projectDetails', this)">
                            <h3 class="text-white text-[24px] transition font-light font-normal">
                                รายละเอียดโครงการ
                            </h3>
                        </li>
                        <li class="group cursor-pointer" onclick="toggleDiv('floorPlan', this)">
                            <h3 class="text-white text-[24px] transition font-light">
                                ฟลอร์แพลน
                            </h3>
                        </li>
                        <li class="group cursor-pointer" onclick="toggleDiv('facilities', this)">
                            <h3 class="text-white text-[24px] transition font-light">
                                สิ่งอำนวยความสะดวก
                            </h3>
                        </li>
                        <li class="group cursor-pointer" onclick="toggleDiv('services', this)">
                            <h3 class="text-white text-[24px] transition font-light">
                                บริการ
                            </h3>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="lg:w-3/4  h-full w-full bg-[#F5F5F1] relative lg:px-20 pt-10 pb-20 min-h-screen"
                data-aos="fade-up" data-aos-duration="500" data-aos-easing="linear">
                <div class="pb-5">
                    <div>
                        <h3 class="font-['DB_Heavent'] text-[70px]">
                            ข้อมูลโครงการ
                        </h3>
                    </div>
                    <div class="border-1 border-black border opacity-30 lg:block hidden lg:w-3/4 w-full"></div>
                    <div class="relative lg:hidden block">
                        <button type="button" id="expand-button"
                            class="px-5 text-center w-full bg-[#56362A] py-3 text-white text-[24px]"
                            onclick="toggleExpand(this)">
                            <p>
                                รายละเอียดโครงการ
                            </p>
                            <span class="absolute right-0 top-1/2 -translate-y-1/2 mr-10">
                                <svg xmlns="http://www.w3.org/2000/svg" width="13.114" height="7.498"
                                    viewBox="0 0 13.114 7.498">
                                    <path id="Icon_ionic-ios-arrow-down" data-name="Icon ionic-ios-arrow-down"
                                        d="M12.747,16.484l4.958-4.962a.933.933,0,0,1,1.324,0,.945.945,0,0,1,0,1.327L13.41,18.471a.935.935,0,0,1-1.292.027L6.461,12.853a.937.937,0,0,1,1.324-1.327Z"
                                        transform="translate(-6.188 -11.247)" fill="#f5f5f5" />
                                </svg>
                            </span>
                        </button>
                        <div
                            class="absolute left-0 top-full w-full border border-black p-5 bg-white expand-div hidden z-10">
                            <ul class="space-y-4">
                                <li class="group cursor-pointer" onclick="toggleDiv('projectDetails', this)">
                                    <h3 class="text-[24px] transition font-light hover:font-normal">
                                        รายละเอียดโครงการ
                                    </h3>
                                </li>
                                <li class="group cursor-pointer" onclick="toggleDiv('floorPlan', this)">
                                    <h3 class="text-[24px] transition font-light hover:font-normal">
                                        ฟลอร์แพลน
                                    </h3>
                                </li>
                                <li class="group cursor-pointer" onclick="toggleDiv('facilities', this)">
                                    <h3 class="text-[24px] transition font-light hover:font-normal">
                                        สิ่งอำนวยความสะดวก
                                    </h3>
                                </li>
                                <li class="group cursor-pointer" onclick="toggleDiv('services', this)">
                                    <h3 class="text-[24px] transition font-light hover:font-normal">
                                        บริการ
                                    </h3>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div id="projectDetails" class="section">
                    <div class="flex flex-col lg:w-3/4 w-full gap-5">
                        <div>
                            <p class="font-medium text-[20px]">
                                รายละเอียดโครงการ
                            </p>
                        </div>
                        <div class="lg:w-3/4 w-full">
                            <ul class="flex flex-col gap-5">
                                <li class="flex justify-between">
                                    <p>
                                        ขนาดที่ดิน
                                    </p>
                                    <p>
                                        ประมาณ 46 ไร่
                                    </p>
                                </li>
                                <li class="flex justify-between">
                                    <p>
                                        ประเภทโครงการ
                                    </p>
                                    <p>
                                        บ้านเดี่ยว 2 ชั้น
                                    </p>
                                </li>
                                <li class="flex justify-between">
                                    <p>
                                        จำนวนยูนิต
                                    </p>
                                    <p>
                                        158 ยูนิต
                                    </p>
                                </li>
                                <li class="flex justify-between">
                                    <p>
                                        พื้นที่ใช้สอย
                                    </p>
                                    <p>
                                        283-369 ตร.ม.
                                    </p>
                                </li>
                            </ul>
                        </div>
                        <div class="border-1 border-black border opacity-30"></div>
                        <div>
                            <p class="font-medium text-[20px]">
                                ประเภทบ้านและขนาดบ้าน
                            </p>
                        </div>
                        <div class="lg:w-3/4 w-full">
                            <ul class="flex flex-col gap-5">
                                <li class="flex justify-between lg:flex-row flex-col">
                                    <p>
                                        THE RESIDENCE I
                                    </p>
                                    <p>
                                        369 ตร.ม. / เริ่มต้น 219 ตร.ว.
                                    </p>
                                </li>
                                <li class="flex justify-between lg:flex-row flex-col">
                                    <p>
                                        THE RESIDENCE II
                                    </p>
                                    <p>
                                        327 ตร.ม. / เริ่มต้น 152 ตร.ว.
                                    </p>
                                </li>
                            </ul>
                        </div>
                        <div class="mt-20">
                            <button type="button"
                                class="border border-1 py-2 px-3 border-black lg:w-auto w-full max-w-[200px] mx-auto block">
                                <div class="flex gap-2">
                                    <span><img src="/assets/icon/pdf.svg" alt="" class="w-[30px]"></span>
                                    <span class="my-auto mx-auto">
                                        ดาวน์โหลดโบรชัวร์
                                    </span>
                                </div>
                            </button>
                        </div>
                    </div>
                </div>
                <div id="floorPlan" class="section hidden" data-aos="fade-up" data-aos-duration="1000"
                    data-aos-easing="linear">ฟลอร์แพลน</div>
                <div id="facilities" class="section hidden" data-aos="fade-up" data-aos-duration="1000"
                    data-aos-easing="linear">สิ่งอำนวยความสะดวก</div>
                <div id="services" class="section hidden" data-aos="fade-up" data-aos-duration="1000"
                    data-aos-easing="linear">บริการ</div>
            </div>
        </div>
    </div>
</div>