<div
    class="bg-[url('./../assets/image/story/banner/detail-bg.svg')] bg-cover bg-no-repeat bg-bottom relative overflow-hidden">
    <div class="absolute left-0 top-0 w-screen flex h-full">
        <div class="relative h-full w-full lg:w-[28vw] lg:block hidden bg-[#b8a797]"></div>
        <div class="relative lg:w-[72vw] w-full lg:mb-0 -mb-[70px] overflow-hidden">
            <div
                class="absolute lg:top-1/2 lg:left-1/2 lg:-translate-x-1/2 lg:-translate-y-1/2 lg:w-[90vw] w-full lg:bottom-auto bottom-[140px]">
                <div class="swiper banner-swipe lg:scale-100 scale-[2]">
                    <div class="swiper-wrapper">
                        {{#cover.slide}}
                        <div class="swiper-slide">
                            <!-- <img src="https://placehold.co/1223x588" alt=""
                                        class="w-full lg:block hidden">
                                    <img src="https://placehold.co/780x375" alt=""
                                        class="w-full lg:hidden block"> -->
                            <video id="hero-slide-cover-vdo-{{cover.slide.index}}" class=" w-full" autoplay muted
                                playsinline webkit-playsinline>
                                <source src="{{cover.slide.vdo}}" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                        </div>
                        {{/cover.slide}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container relative lg:pt-10 pt-3 lg:pb-10 md:pb-[50dvh] pb-[20rem]">
        <div class="flex lg:flex-row flex-col lg:ml-10">
            <div class="relative z-20">
                <div class="py-5">
                    <h1 class="{{font}} text-[#564B40] text-[30px]  uppercase leading-tight">
                        {{title}}
                    </h1>
                    <div class="mt-2 lg:block hidden">
                        <p class="text-[20px] font-thin {{font}}">
                            {{detail}}
                        </p>
                    </div>
                    <div class="mt-3 relative">
                        <div class=" left-0 lg:w-[350px] w-full z-10">
                            <div class="shadow-xl bg-[#b8a797] p-5 relative bg-[#dfd1c3]">
                                <div class="swiper banner-detail-swipe lg:pb-10 pb-5">
                                    <div class="swiper-wrapper">
                                        {{#detail.slide}}
                                        <div class="swiper-slide ">
                                            <a href="{{detail.slide.url}}" target="_blank" rel="noopener noreferrer">
                                            <div class="flex">
                                                <img src="{{detail.slide.thumb}}" alt="{{detail.slide.title}}" class="w-full">
                                            </div>
                                            <div class="mt-5">
                                                <div class="flex flex-col">
                                                    <div>
                                                        <h2
                                                            class="text-[20px] uppercase {{font}} text-center text-[#564B40]">
                                                            {{detail.slide.title}}
                                                        </h2>
                                                    </div>
                                                    <div>
                                                        <p
                                                            class="text-[14px] {{font}} font-thin text-center text-[#564B40]">
                                                            {{detail.slide.subtitle}}
                                                        </p>
                                                    </div>
                                                    <div class="mt-2">
                                                        <p class="text-[12px] text-center text-[#564B40] {{font}}">
                                                            {{detail.slide.detail}}
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            </a>
                                        </div>
                                        {{/detail.slide}}
                                    </div>
                                    <div class="custom-pagination-square"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>