:root {
    --article5-header-text: 40px;
    --article5-desc-text: 16px;
}

.article-5 .article-5-wrapper .text-article-wrapper .text-wrapper .article-header-wrapper .header-text {
    font-size: var(--article5-header-text);
    font-weight: 400;
    line-height: 1.2;
    font-family: 'Cinzel', 'IBMPlexSansThai';
    color: #2C2C2C;
}

.article-5 .article-5-wrapper .text-article-wrapper .text-wrapper .article-desc-text-wrapper .article-desc-text {
    font-size: var(--article5-desc-text);
    font-weight: 400;
    font-family: 'IBMPlexSansThai';
    color: #2C2C2C;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.article-5 {
    padding: 3rem 0;
    background-color: #F4EEE9;
    overflow: hidden;
}

.article-5 .article-5-wrapper {
    max-width: 1920px;
    width: 90%;
    margin-left: 10vw;
    position: relative;
    padding: 5vw 0;
}


.article-5 .image-wrapper {
    width: 57.5%;
    position: relative;
    z-index: 99;
}


.article-5 .image-wrapper .article-5-image {
    width: 90%;
}

.article-5 .text-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: #DDCDBE;
    display: flex;
    flex-direction: column;
    padding: 6vw;
    justify-content: center;
}

.article-5 .text-wrapper .article-header-wrapper {
    margin: 0 0 1rem 0;
    padding: 0;
    width: 100%;
    text-align: start;
}

@media only screen and (max-width: 1225px) {

    .article-5 .image-wrapper {
        padding: 5vw 0;
        width: 42.5%;
        position: relative;
        z-index: 99;
    }

    .article-5 .image-wrapper .article-5-image {
        width: 100%;
    }

    .article-5 .text-wrapper {
        position: absolute;
        top: 0;
        right: 0;
        width: 55vw;
        height: 100%;
        background-color: #DDCDBE;
        display: flex;
        flex-direction: column;
        padding: 6vw;
        justify-content: center;
    }
}

@media only screen and (max-width: 991px) {
    :root {
        --article5-header-text: 30px;
        --article5-desc-text: 16px;
    }

    .article-5 {
        padding: 3rem 0;
        background-color: #F4EEE9;
        overflow: hidden;
    }

    .article-5 .article-5-wrapper .text-article-wrapper .text-wrapper .article-header-wrapper .header-text {
        font-size: var(--article5-header-text);
        font-weight: 400;
        line-height: 1.2;
        font-family: 'Cinzel', 'IBMPlexSansThai';
        color: #2C2C2C;
    }
    
    .article-5 .article-5-wrapper .text-article-wrapper .text-wrapper .article-desc-text-wrapper .article-desc-text {
        font-size: var(--article5-desc-text);
        font-weight: 400;
        font-family: 'IBMPlexSansThai';
        color: #2C2C2C;
    }

    .article-5 .article-5-wrapper {
        max-width: 1920px;
        width: 90%;
        margin: auto;
        position: relative;
        padding: 0;
    }

    .article-5 .image-wrapper {
        width: 100%;
        position: relative;
        z-index: 99;
        padding: 0;
    }

    .article-5 .text-wrapper {
        position: relative;
        top: unset;
        right: unset;
        width: 125%;
        height: 100%;
        background-color: #DDCDBE;
        display: flex;
        flex-direction: column;
        padding: 10vw 12.5% 3rem;
        justify-content: center;
        margin-left: -12.5%;
        margin-top: -5vw;
    }
}


@media only screen and (max-width: 560px) {
    :root {
        --article5-header-text: 30px;
        --article5-desc-text: 16px;
    }


    .article-5 .article-5-wrapper .text-article-wrapper .text-wrapper .article-header-wrapper .header-text {
        font-size: var(--article5-header-text);
        font-weight: 400;
        line-height: 1.2;
        font-family: 'Cinzel', 'IBMPlexSansThai';
        color: #2C2C2C;
    }
    
    .article-5 .article-5-wrapper .text-article-wrapper .text-wrapper .article-desc-text-wrapper .article-desc-text {
        line-height: 1.8;
    }

    
    .article-5 {
        /* padding: 0; */
    }

    .article-5 .text-wrapper {
        padding: 10vw 12.5% 3rem;
    }
}