<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="robots" content="noindex, nofollow">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests" />
    <title>article component5</title>
    <link rel="icon" type="image/svg+xml" href="/assets/image/residential/logo-tab.svg">
    <link rel="stylesheet" href="./article_component5.css">
    <link rel="stylesheet" href="../../../../../fonts/font.css">
</head>

<body>
    <section class="article-5">
        <div class="article-5-wrapper">
            <div class="text-article-wrapper">
                <div class="image-wrapper">
                        <img class="article-5-image" src="../../../../../assets/images/estate_article/image-article5.webp" alt="image" />
                </div>
                <div class="text-wrapper">
                    <div class="article-header-wrapper">
                        <h3 class="header-text">Aged Society</h3>
                    </div>
                    <div class="article-desc-text-wrapper">
                        <p id="article-desc-text" class="article-desc-text">หลายคนอาจจะยังไม่เข้าใจคำว่า ‘Aging
                            Society​’ นั่นคือ ‘ระดับการก้าวเข้าสู่สังคมผู้สูงอายุ’ โดยจะมีประชากรอายุ 60
                            ปีขึ้นไปมากกว่าร้อยละ 10 ของประชากรทั้งหมด และเมื่อมีการเพิ่มขึ้นก็จะเป็น ‘Aged Society’
                            หรือ ‘ระดับสังคมผู้สูงอายุโดยสมบูรณ์’ เป็นสังคมที่มีสัดส่วนของประชากรอายุ 60 ปีขึ้นไปมากกว่า
                            20% ของประชากรทั้งหมด และสุดท้ายคือ ‘Super Aged Society’ หรือ ‘สังคมสูงวัยระดับสุดยอด’
                            สังคมที่มีสัดส่วนของประชากร</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

        <script src="/assets/js/gsap/gsap.min.js"></script>
    <script src="/assets/js/gsap/ScrollTrigger.min.js"></script>
    <script src="./article_component5.js"></script>
</body>

</html>