# Enable the rewrite engine
RewriteEngine on

# Redirect to /th if no language or path is provided
RewriteCond %{REQUEST_URI} ^/$
RewriteRule ^ /th [L,R=301]

# Redirect requests for .html files to clean URLs (without .html)
RewriteCond %{THE_REQUEST} /([^.]+)\.html [NC]
RewriteRule ^ /%1 [NC,L,R]

# Serve the .html file if it exists
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^ %{REQUEST_URI}.html [NC,L]

# Redirect "/th" and "/en" (with or without trailing slash) to index.html
RewriteRule ^(th|en)?$ /page/home/index.html [L]
RewriteRule ^(th|en)/?$ /page/home/index.html [L]

RewriteRule ^(th|en)/collection?$ /page/collection/index.html [L]
RewriteRule ^(th|en)/collection/?$ /page/collection/index.html [L]

RewriteRule ^(th|en)/stories?$ /page/story/index.html [L]
RewriteRule ^(th|en)/stories/?$ /page/story/index.html [L]

RewriteRule ^(th|en)/stories/([^\s]+)/([^\s]+)?$ /page/story/detail/index.php [L]
RewriteRule ^(th|en)/stories/([^\s]+)/([^\s]+)/?$ /page/story/detail/index.php [L]

RewriteRule ^(th|en)/stories/([^\s]+)?$ /page/story/detail/index.php [L]
RewriteRule ^(th|en)/stories/([^\s]+)/?$ /page/story/detail/index.php [L]

RewriteRule ^(th|en)/campaigns?$ /page/campaignAll/index.html [L]
RewriteRule ^(th|en)/campaigns/?$ /page/campaignAll/index.html [L]

RewriteRule ^(th|en)/campaigns/([^\s]+)?$ /page/campaignAll/detail/index.php [L]
RewriteRule ^(th|en)/campaigns/([^\s]+)/?$ /page/campaignAll/detail/index.php [L]

RewriteRule ^(th|en)/contact-us?$ /page/contact/index.html [L]
RewriteRule ^(th|en)/contact-us/?$ /page/contact/index.html [L]

RewriteRule ^(th|en)/contact-us/head-office?$ /page/contactUs/index.html [L]
RewriteRule ^(th|en)/contact-us/head-office/?$ /page/contactUs/index.html [L]

RewriteRule ^(th|en)/contact-us/partner-agent?$ /page/becomeAgent/index.html [L]
RewriteRule ^(th|en)/contact-us/partner-agent/?$ /page/becomeAgent/index.html [L]

RewriteRule ^(th|en)/sitemap?$ /page/sitemap/index.html [L]
RewriteRule ^(th|en)/sitemap/?$ /page/sitemap/index.html [L]


RewriteRule ^(th|en)/house/private-estate/smyths?$ /page/smyth/index.html [L]
RewriteRule ^(th|en)/house/private-estate/smyths/?$ /page/smyth/index.html [L]

RewriteRule ^(th|en)/house/private-estate/smyths/kaset-nawamin?$ /page/smyth/smyth-content-page/kaset-nawamin/index.html [L]
RewriteRule ^(th|en)/house/private-estate/smyths/kaset-nawamin/?$ /page/smyth/smyth-content-page/kaset-nawamin/index.html [L]

RewriteRule ^(th|en)/house/private-estate/smyths/ramintra?$ /page/smyth/smyth-content-page/ramintra/index.html [L]
RewriteRule ^(th|en)/house/private-estate/smyths/ramintra/?$ /page/smyth/smyth-content-page/ramintra/index.html [L]

# Redirect for srin
RewriteRule ^(th|en)/house/detached-house/srin/?$ /page/srin/index.html [L]
RewriteRule ^(th|en)/house/detached-house/srin//?$ /page/srin/index.html [L]

RewriteRule ^(th|en)/house/detached-house/srin/prannok?$ /page/srin/srin-content-page/prannok/index.html [L]
RewriteRule ^(th|en)/house/detached-house/srin/prannok/?$ /page/srin/srin-content-page/prannok/index.html [L]

# Redirect for sai 1
RewriteRule ^(th|en)/house/detached-house/srin/ratchapruek-sai1?$ /page/srin/srin-content-page/rachapuek/index.html [L]
RewriteRule ^(th|en)/house/detached-house/srin/ratchapruek-sai1/?$ /page/srin/srin-content-page/rachapuek/index.html [L]

# Redirect for shawn 
RewriteRule ^(th|en)/house/detached-house/shawn?$ /page/shawn/index.html [L]
RewriteRule ^(th|en)/house/detached-house/shawn/?$ /page/shawn/index.html [L]

# Redirect for shawn wongwaen
RewriteRule ^(th|en)/house/detached-house/shawn/wongwaen-chatuchot?$ /page/shawn/shawn-content-page/shawn-wongwaen/index.html [L]
RewriteRule ^(th|en)/house/detached-house/shawn/wongwaen-chatuchot/?$ /page/shawn/shawn-content-page/shawn-wongwaen/index.html [L]

# Redirect for shawn pany
RewriteRule ^(th|en)/house/detached-house/shawn/panya-indra?$ /page/shawn/shawn-content-page/shawn-panya/index.html [L]
RewriteRule ^(th|en)/house/detached-house/shawn/panya-indra/?$ /page/shawn/shawn-content-page/shawn-panya/index.html [L]

RewriteRule ^(th|en)/house?$ /page/house_and_condo/page/house/index.html [L]
RewriteRule ^(th|en)/house/?$ /page/house_and_condo/page/house/index.html [L]

RewriteRule ^(th|en)/condominium?$ /page/house_and_condo/page/condo/index.html [L]
RewriteRule ^(th|en)/condominium/?$ /page/house_and_condo/page/condo/index.html [L]

RewriteRule ^(th|en)/condominium/the-extro/phayathai-rangnam?$ /page/the-extro/the-extro/the-extro/index.html [L]
RewriteRule ^(th|en)/condominium/the-extro/phayathai-rangnam/?$ /page/the-extro/the-extro/the-extro/index.html [L]

RewriteRule ^(th|en)/condominium/the-esse/sukhumvit36?$ /page/the-esse/the-esse-page/the-esse-36/index.html [L]
RewriteRule ^(th|en)/condominium/the-esse/sukhumvit36/?$ /page/the-esse/the-esse-page/the-esse-36/index.html [L]

RewriteRule ^(th|en)/condominium/the-esse/singha-complex?$ /page/the-esse/the-esse-page/the-esse-complex/index.html [L]
RewriteRule ^(th|en)/condominium/the-esse/singha-complex/?$ /page/the-esse/the-esse-page/the-esse-complex/index.html [L]

RewriteRule ^(th|en)/condominium/the-esse/asoke?$ /page/the-esse/the-esse-page/the-esse-complex/index.html [L]
RewriteRule ^(th|en)/condominium/the-esse/asoke/?$ /page/the-esse/the-esse-page/the-esse-complex/index.html [L]



# หากส่วนของ "the-extro" ซ้ำกันในไฟล์เดิม สามารถลบหรือคอมเมนต์ออกได้
