<div class="bg-[#E9E2DC] lg:pt-5 pb-0 text-[#1A2F4D] font-['Gotham']">
    <div class="container">
        <div class="flex flex-wrap ">
            <div class="lg:w-3/4 w-full flex flex-wrap lg:flex-nowrap pt-10 gap-1">
                {{#section}}
                <div class="flex flex-col lg:w-1/3 w-full gap-2 relative">
                    <div class="w-full">
                        <ul class="flex flex-col">
                            {{#section.category}}
                            <li class="relative expand {{section.category.pad}}" onclick="expandFooter(this)">
                                <div>
                                    {{#section.category.link}}
                                    <button type="button" onclick="selectFooterSubHeader(this)"
                                        data-href="{{section.category.link.url}}"
                                        data-sub_header="{{section.category.title}}" class="relative w-full text-left">
                                        <p class="font-['IBM_Plex_Sans_Thai'] text-[14px] font-bold uppercase">
                                            {{section.category.title}}</p>
                                    </button>
                                    {{/section.category.link}}
                                    {{#section.category.list}}
                                    <button type="button"
                                        class="relative w-full text-left lg:cursor-text cursor-pointer">
                                        <p class="font-['IBM_Plex_Sans_Thai'] text-[16px] font-bold">
                                            {{section.category.title}}</p>
                                        <div class="footer-expand-icon ">
                                            <img src="https://residential-uat.singhaestate.co.th/assets/icon/plus-black.svg"
                                                class="w-full open">
                                            <img src="https://residential-uat.singhaestate.co.th/assets/icon/minus-black.svg"
                                                class="w-full close">
                                        </div>
                                    </button>
                                    <ul class=" flex-col lg:gap-1 gap-2 list mt-1">
                                        {{#section.category.list.brands}}
                                        <li class="flex flex-col gap-1">
                                            {{#section.category.brands.link}}
                                            <p data-href="{{section.category.brands.link.url}}" target="_blank"
                                                onclick="selectFooterProperty(this)"
                                                class="font-['IBM_Plex_Sans_Thai'] text-[14px] cursor-pointer "
                                                data-property_brand="{{section.category.brands.title}}"
                                                data-project_label="{{section.category.brands.link.label}}"
                                                data-property_location="{{section.category.brands.link.location}}"
                                                data-property_price="{{section.category.brands.link.price}}"
                                                data-property_type="{{section.category.brands.link.type}}">
                                                {{section.category.brands.title}}
                                            </p>
                                            {{/section.category.brands.link}}
                                            {{#section.category.brands.list}}
                                            <p class="font-['IBM_Plex_Sans_Thai'] text-[14px] ">
                                                <b class="">{{section.category.brands.title}}</b>
                                            </p>
                                            <ul class="flex flex-col gap-1">
                                                {{#section.category.brands.link.sub}}
                                                <li data-href="{{section.category.brands.link.sub.url}}"
                                                    onclick="selectFooterProperty(this)"
                                                    class="font-['IBM_Plex_Sans_Thai'] text-[14px] cursor-pointer"
                                                    data-property_brand="{{section.category.brands.title}}"
                                                    data-project_label="{{section.category.brands.link.sub.label}}"
                                                    data-property_location="{{section.category.brands.link.sub.location}}"
                                                    data-property_price="{{section.category.brands.link.sub.price}}"
                                                    data-property_type="{{section.category.brands.link.type}}"
                                                    >
                                                    {{section.category.brands.link.sub.title}}
                                                </li>
                                                {{/section.category.brands.link.sub}}
                                            </ul>
                                            {{/section.category.brands.list}}
                                        </li>
                                        {{/section.category.list.brands}}
                                    </ul>
                                    {{/section.category.list}}
                                </div>
                            </li>
                            {{/section.category}}
                        </ul>
                    </div>
                </div>
                {{/section}}
            </div>
            <div class="flex flex-col lg:w-1/4 w-full gap-5 lg:pt-0 pt-5">
                <div class="w-full">
                    <div class="flex flex-col gap-5"><img src="/assets/image/residential/logo-footer.svg"
                            class="lg:w-[170px] w-[150px]">
                        <!-- <p class="uppercase mt-5 md:text-left text-center"><b>singha estate pcl.</b></p> -->
                        <p class="text-left font-['IBM_Plex_Sans_Thai'] text-[14px]">
                            บริษัท สิงห์ เอสเตท จำกัด (มหาชน) <br> อาคารซันทาวเวอร์ส บี, ชั้น 40 เลขที่ 123 <span
                                class="text-nowrap">ถนนวิภาวดีรังสิต</span> <span class="text-nowrap">แขวงจอมพล</span>
                            เขตจตุจักร​ กรุงเทพมหานคร 10900
                        </p>
                    </div>
                </div>
                <div class="w-full flex flex-col gap-3">
                    <div>
                        <a href="tel:1221">
                            <p class="uppercase text-[30px] font-['IBM_Plex_Sans_Thai']"><b>call 1221</b></p>
                        </a>
                    </div>
                    <div>
                        <p class="text-left font-['IBM_Plex_Sans_Thai'] text-[14px]">
                            ติดตาม Social Media
                        </p>
                    </div>
                    <div class="flex gap-5">
                        <a href="https://lin.ee/8hJoAxK" target="_blank">
                            <img src="/assets/line.svg" class="w-[30px]">
                        </a>
                        <a href="https://www.facebook.com/S.Residential?mibextid=ZbWKwL " target="_blank">
                            <img src="/assets/facebook.svg" class="w-[30px]">
                        </a>
                        <a href="https://www.youtube.com/SinghaEstatePCL?reload=9" target="_blank">
                            <img src="/assets/youtube.svg" class="w-[30px]">
                        </a>
                        <a href="https://www.instagram.com/singhaestate_residential?igsh=MTJseGN0bmo1aGpkNw=="
                            target="_blank">
                            <img src="/assets/ig.svg" class="w-[30px]">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <hr class="border border-[#D1BFAF] my-5 mb-0">
        <div class="flex justify-between flex-wrap gap-3 py-2">
            <div class="md:text-right text-center md:mr-0 mr-auto text-[12px]">Copyright © 2024, Singha Estate
                Public
                Company Limited.</div>
        </div>
    </div>
</div>