<div class="relative overflow-hidden lg:h-screen h-[800px]">
    <div class="swiper mySwiper h-full">
        <div class="swiper-wrapper">
            {{#slide}}
            <div class="swiper-slide">
                <div class="h-full w-full overflow-hidden bg-cover bg-no-repeat bg-center lg:block hidden"
                    style="background-image: url({{slide.l}});">
                    <div class="absolute top-0 left-0 flex w-full h-full hover:bg-[#00000030] transition-all">
                        <div
                            class="m-auto pt-5 {{slide.theme.text.css}} flex justify-center flex-col gap-5">
                            <div class="m-auto">
                                <img src="{{slide.logo}}" alt="" data-aos="fade-up" data-aos-duration="100"
                                    data-aos-easing="linear">
                            </div>
                            <div class="mt-5">
                                <p data-aos="fade-up" data-aos-duration="500" data-aos-easing="linear"
                                    data-aos-delay="200"
                                    class="font-['IBM_Plex_Sans_Thai'] font-normal uppercase lg:text-[40px] text-[45px] text-white text-center leading-tight">
                                    {{slide.title}}
                                </p>
                            </div>
                            <div class="mx-auto">
                                <p data-aos="fade-up" data-aos-duration="500" data-aos-easing="linear"
                                    data-aos-delay="300"
                                    class="{{slide.font}} font-normal uppercase text-[16px] text-white text-center">
                                    {{slide.description}}
                                    ​</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="h-full w-full overflow-hidden bg-cover bg-no-repeat bg-center lg:hidden block"
                    style="background-image: url({{slide.s}});">
                    <div class="absolute top-0 left-0 flex w-full h-full bg-[#00000030]">
                        
                        <div class="m-auto pt-5 {{slide.theme.text.css}} flex justify-center flex-col">
                            <div class="absolute top-[80px] left-1/2 -translate-x-1/2">
                                <img src="{{slide.logo}}" alt="" class="w-[120px]">
                            </div>
                            <div class="m-auto">
                                <img src="{{slide.logo}}" alt="" class="w-[300px]">
                            </div>
                            <div class="mt-5">
                                <p
                                    class="font-['IBM_Plex_Sans_Thai'] font-normal uppercase lg:text-[40px] text-[26px] text-white text-center leading-tight">
                                    {{slide.title}}
                                </p>
                            </div>
                            <div class="mx-auto">
                                <p
                                    class="{{slide.font}} font-normal uppercase px-16 text-[16px] text-white text-center">
                                    {{slide.description}}
                                    ​</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{/slide}}
        </div>
        <div class="absolute bottom-0 w-full z-10 my-5">
            <div class="container">
                <div class="flex lg:justify-center justify-center gap-5">
                    <div class="flex gap-5">
                        <div class="lg:w-[300px] w-[150px] relative h-[2px] my-auto overflow-hidden">
                            <div class="hero-progress-bar h-full"></div>
                        </div>
                        <div class="flex text-white leading-0  md:text-[14px] text-[11px]">
                            <div class="page-number leading-tight my-auto whitespace-nowrap"></div>
                        </div>
                    </div>
                    <div class="flex gap-5">
                        <span class="prev w-[30px]">
                            <img src="/assets/image/residential/Button-Icon.png" alt="prev icon" class="rotate-180">
                        </span>
                        <span class="next w-[30px]">
                            <img src="/assets/image/residential/Button-Icon.png" alt="prev icon">
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>