<div class="bg-[url('./../assets/image/background/linear-bg.svg')] bg-cover bg-center bg-no-repeat relative pt-5 pb-10">
    <div class="container py-5" data-aos="fade-up" data-aos-duration="800" data-aos-easing="linear">
        <h2
            class="{{font}} text-white text-[35px] lg:text-center text-center uppercase title leading-tight">
            {{title}}
        </h2>
    </div>
    <div class="relative mt-5">
        <div class="swiper singha-estate-slide" data-aos="fade-up" data-aos-duration="800"
            data-aos-easing="linear">
            <div class="swiper-wrapper">
                {{#slide}}
                <div class="swiper-slide">
                    <div class="relative w-full lg:bottom-1/2">
                        <img aria-hidden="true" src="{{slide.l}}" alt="{{title}}" srcset="" class="w-full lg:block hidden">
                        <img aria-hidden="true" src="{{slide.s}}" alt="{{title}}" srcset="" class="w-full block lg:hidden">
                        <div class="absolute bottom-0 left-0 w-full h-full flex">
                            <img aria-hidden="true" src="/assets/image/story/linear-gd.svg" alt="" class="w-full mt-auto">
                        </div>
                    </div>
                </div>
                {{/slide}}
            </div>
            <div class="absolute bottom-0 w-full z-10">
                <div class="container lg:!px-[20px] !px-0">
                    <div class="flex lg:w-3/4 mx-auto lg:p-5 p-0 py-5 gap-5 lg:flex-row flex-col lg:px-5 px-[20px]">
                        <div class="flex gap-5 mx-auto">
                            <div
                                class="custom-pagination-square !relative lg:my-auto mt-auto mb-2 lg:mb-auto !bottom-0">
                            </div>
                            <div class="flex gap-5 my-auto">
                                <span class="prev">
                                    <img aria-hidden="true" src="/assets/image/residential/Button-Icon.webp" alt="icon"
                                        class="rotate-180 w-[55px]">
                                </span>
                                <span class="next">
                                    <img aria-hidden="true" src="/assets/image/residential/Button-Icon.webp" alt="icon" class="w-[55px]">
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container py-10 pb-0" data-aos="fade-up" data-aos-duration="800" data-aos-easing="linear"
        data-aos-anchor=".trigger-singha-estate">
        <p class="text-[22px] text-center text-white lg:w-3/4 mx-auto detail">
            {{detail}}
        </p>
    </div>
</div>