:root {
    --article6-header-text: 40px;
    --article6-desc-text: 16px;
}

.article-6 .article-6-wrapper .text-wrapper .article-6-article-header-wrapper .header-text {
    font-size: var(--article6-header-text);
    font-weight: 400;
    line-height: 1.2;
    font-family: 'Cinzel', 'IBMPlexSansThai';
    color: #2C2C2C;
}

.article-6 .article-6-wrapper .text-wrapper .article-6-article-desc-text-wrapper .article-desc-text {
    font-size: var(--article6-desc-text);
    font-weight: 400;
    font-family: 'IBMPlexSansThai';
    color: #2C2C2C;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.article-6 {
    padding: 3rem 0;
    background-color: #F4EEE9;
    overflow: hidden;
}

.article-6 .article-6-wrapper {
    max-width: 1920px;
    width: 100%;
    margin: auto;
    position: relative;
}

.article-6 .article-6-wrapper .image-wrapper {
    width: 100%;
    margin-bottom: 2rem;
}

.article-6 .article-6-wrapper .image-wrapper .article-6-image {
    width: 100%;
}

.article-6 .article-6-wrapper .text-wrapper {
    width: 80%;
    margin: auto;
    padding-bottom: 0;
}

.article-6 .article-6-wrapper .text-wrapper .article-6-article-header-wrapper {
    margin-bottom: 1rem;
    width: 100%;
    padding: 0;
    text-align: start;
}

@media only screen and (max-width: 991px) {
    :root {
        --article6-header-text: 30px;
    }
    
    .article-6 .article-6-wrapper .text-wrapper .article-6-article-header-wrapper .header-text {
        font-size: var(--article6-header-text);
        font-weight: 400;
        line-height: 1.2;
        font-family: 'Cinzel', 'IBMPlexSansThai';
        color: #2C2C2C;
    }
}

@media only screen and (max-width: 560px) {
    :root {
        --article6-header-text: 30px;
    }

    .article-6 .article-6-wrapper .text-wrapper .article-6-article-header-wrapper .header-text {
        font-size: var(--article6-header-text);
        font-weight: 400;
        line-height: 1.2;
        font-family: 'Cinzel', 'IBMPlexSansThai';
        color: #2C2C2C;
    }

    .article-6 .article-6-wrapper .text-wrapper .article-6-article-desc-text-wrapper .article-desc-text {
        line-height: 1.8;
    }

    .article-6 {
        padding: 3rem 0 0 0;
    }

    .article-6 .article-6-wrapper .text-wrapper {
        width: 100%;
        margin: auto;
    }

    .article-6 .article-6-wrapper .text-wrapper {
        padding: 0 5% 3rem 5%;
    }
}