:root {
    --banner-header: 50px;
    --love-time-text: 22px;
    --article-head-text: 40px;
    --article-head-text1: 30px;
    --article-desc-text: 16px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.article-page {
    background-color: #F4EEE9;
}

.article-page .pin-spacer {
    z-index: 40 !important;
}

.linkto {
    font-size: var(--article-desc-text);
    font-family: 'IBMPlexSansThai';
    color: #c5a254;
    cursor: pointer;
    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;

    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.space-bottom {
    margin-bottom: 2rem;
}

.space-bottom-big {
    margin-bottom: 2rem;
}

.align-start {
    text-align: start !important;
}

.article-page .section-wrapper {
    position: relative;
}

.article-page .banner-wrapper .banner-header-wrapper .header-text {
    font-size: var(--banner-header);
    font-weight: 400;
    line-height: 1.4;
    font-family: 'Cinzel', 'IBMPlexSansThai';
}

.article-page .article-header-wrapper .article-header-text-container .header-text-wrapper .header-text {
    font-size: var(--article-head-text);
    font-weight: 400;
    line-height: 1.4;
    font-family: 'Cinzel', 'IBMPlexSansThai';
}

.article-page .article-header-wrapper .header-text-wrapper1 .header-text1 {
    font-size: var(--article-head-text1);
    font-weight: 400;
    line-height: 1.4;
    font-family: 'Cinzel', 'IBMPlexSansThai';
}

.article-page .article-header-wrapper .article-header-text-container .article-desc-text-wrapper .article-desc-text {
    font-size: var(--article-desc-text);
    font-family: 'IBMPlexSansThai';
}

.article-page .banner-wrapper .love-time-wrapper .love-wrapper .love-number,
.article-page .banner-wrapper .love-time-wrapper .time-wrapper .time-number {
    font-size: var(--love-time-text);
    line-height: 1.4;
    font-family: 'SukhumvitSet', 'IBMPlexSansThai';
}

.article-page .banner-wrapper {
    position: relative;
    z-index: 50;
}

.article-page .banner-wrapper .background-wrapper {
    position: relative;
    max-height: 650px;
    height: 650px;
    margin-top: 0;
}

.article-page .banner-wrapper .article-background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
    height: 85%;
    width: 100%;
    object-fit: cover;
    object-position: bottom;
}

.article-page .banner-wrapper .article-background-ef {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
    height: 85%;
    width: 100%;
}

.article-page .banner-wrapper .article-banner-text-wrapper {
    color: #FFF;
    position: relative;
    height: 85%;
    max-width: 1920px;
    margin: auto;
    width: 80%;
}

.article-page .banner-wrapper .banner-header-wrapper {
    width: 80%;
    height: 75%;
    display: flex;
    align-items: center;
    padding-top: 2.5rem;
}

.article-page .banner-wrapper .border-btm {
    height: 5%;
    width: 30%;
    min-width: 300px;
    border-bottom: 1px solid #FFF;
}

.article-page .banner-wrapper .love-time-wrapper {
    height: 20%;
    padding: 2.25rem 0;
    display: flex;
}

.article-page .banner-wrapper .love-time-wrapper .love-wrapper,
.article-page .banner-wrapper .love-time-wrapper .time-wrapper {
    display: flex;
    align-items: center;
    margin-right: 2rem;
}

.article-page .banner-wrapper .love-time-wrapper .love-wrapper svg,
.article-page .banner-wrapper .love-time-wrapper .time-wrapper svg {
    margin-right: 1rem;
    margin-top: -0.5rem;
    width: 2rem;
}

.article-page .article-header-wrapper {
    padding: 1rem 0 0 0;
    width: 70%;
    margin: auto;
    text-align: center;
    margin-top: -20rem;

}

.article-page .article-header-container {
    padding: 3rem 0 0 0;
}

.article-page .article-header-wrapper .article-header-text-container {
    margin: 3rem auto 0;
}

.article-page .article-header-wrapper .article-header-text-container .header-text-wrapper {
    margin-bottom: 3rem;
}

.article-page .article-header-wrapper .article-header-text-container .header-text-wrapper1 {
    margin-bottom: 1rem;
}

.article-page .article-header-wrapper .article-header-text-container .article-desc-text-wrapper {
    margin-bottom: 3rem;
}

.article-page .article-header-wrapper .article-header-container .border-btm {
    width: 50%;
    margin: auto;
    border-bottom: 1px solid #000;
}

.article-page .article-header-wrapper .article-header-container .border-top {
    width: 50%;
    margin: auto;
    border-top: 1px solid #000;
    margin: 3rem auto 0 auto;
}

.article-page .share-text {
    color: #948667;
    font-weight: bold;
}

.article-page .social {
    position: sticky;
    display: flex;
    left: 4.5%;
    top: 46.5%;
    justify-content: center;
    align-items: center;
    width: 30px;
    z-index: 50;
}

.article-page .social .icon-wrapper {
    width: 5.5rem;
    padding: 1rem;
    display: grid;
    place-content: center;
}

.article-page .share-wrapper .icon-wrapper svg {
    max-width: 24px;
    max-height: 24px;
    width: 24px;
    height: auto;
}

.article-page a.social-text {
    text-decoration: none;
    cursor: default;
}

.article-page a.social-icon {
    text-decoration: none;
}

.article-page .social-icon {
    width: 100%;
    transition: 0.1s linear;
}

.article-page .social-icon:hover {
    transform: scale(1.3);
}

.article-page .section-wrapper {
    background-color: #F4EEE9;
    z-index: 60;
    margin-top: -5.5rem;
}

.social-mobile {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 999;
    background-color: rgba(0,0,0,0);
    display: none;
}

.social-mobile-wrapper {
    display: flex;
    flex-direction: column-reverse;
    background-color: rgba(0,0,0,0);
    z-index: 999;
}

.social-mobile-block {
    width: 45px;
    height: 45px;
    z-index: 999;
    background-color: #fff;
    border: none;
}

.social-mobile-block>svg {
    width: 45px;
    height: 45px;
    padding: 12.5px;
}

.social-mobile-block:not(.social-mobile-block:nth-child(1)) {
    opacity: 0;
    z-index: 0;
    margin-bottom: -45px;
    transition: all 0.35s ease-out;
}

.social-mobile-block:nth-child(1) {
    background-color: rgba(255, 255, 255, 1);
    
    -webkit-backdrop-filter: blur(12px);
            backdrop-filter: blur(12px);
}

.social-mobile-block:nth-child(2) {
    background-color: rgba(255, 255, 255, 0.8);
    
    -webkit-backdrop-filter: blur(15px);
            backdrop-filter: blur(15px);
}

.social-mobile-block:nth-child(3) {
    background-color: rgba(255, 255, 255, 0.8);
    
    -webkit-backdrop-filter: blur(15px);
            backdrop-filter: blur(15px);
}

.social-mobile-block:nth-child(4) {
    background-color: rgba(255, 255, 255, 0.8);
    
    -webkit-backdrop-filter: blur(15px);
            backdrop-filter: blur(15px);
}

@media only screen and (max-width: 1250px) {
    :root {
        --banner-header: 65px;
    }

    .article-page .banner-wrapper .banner-header-wrapper .header-text {
        font-size: var(--banner-header);
        font-weight: 400;
        line-height: 1.4;
        font-family: 'Cinzel', 'IBMPlexSansThai';
    }

    .article-page .banner-wrapper .banner-header-wrapper {
        width: 90%;
    }
}


@media only screen and (max-width: 991px) {
    :root {
        --banner-header: 50px;
        --love-time-text: 20px;
        --article-head-text: 45px;
        --article-desc-text: 18px;
    }

    .article-page .banner-wrapper .banner-header-wrapper {
        width: 100%;
    }

    .article-page .article-header-wrapper {
        margin-top: 0;
    }

    .article-page .article-header-container {
        padding: 0;
    }

    .article-page .social {
        position: relative;
        display: none;
        left: unset;
        top: unset;
        justify-content: center;
        align-items: center;
        width: 90%;
        margin: auto;
        max-width: 1920px;
        z-index: 5;
        padding: 2rem 0 0 0;
    }

    .article-page .social .share-wrapper {
        display: flex;
    }

    .article-page .article-header-wrapper {
        padding: 0;
    }

    .social-mobile {
        display: block;
    }

    .social-mobile-block {
        width: 50px;
        height: 50px;
    }
    
    .social-mobile-block>svg {
        width: 50px;
        height: 50px;
    }
}

@media only screen and (max-width: 560px) {
    :root {
        --banner-header: 30px;
        --love-time-text: 18px;
        --article-head-text: 30px;
        --article-desc-text: 16px;
    }

    .article-page .article-header-wrapper {
        width: 90%;
    }

    .article-page .article-header-wrapper .header-text-wrapper {
        width: 80%;
        margin: auto;
    }

    .article-page .banner-wrapper .banner-header-wrapper {
        width: 100%;
    }

    .article-page .article-header-wrapper .article-header-text-container .article-desc-text-wrapper {
        margin-bottom: 3rem;
    }

    .article-page .article-header-wrapper {
        padding: 0;
    }

    .article-page .share-text {
        color: #948667;
        font-weight: bold;
    }

    .article-page .social {
        position: relative;
        display: none;
        left: unset;
        top: unset;
        justify-content: center;
        align-items: center;
        width: 90%;
        margin: auto;
        max-width: 1920px;
        z-index: 5;
    }

    .article-page .social .share-wrapper {
        display: flex;
    }

    .article-page .social .icon-wrapper {
        width: 4.5rem;
        padding: 1rem;
        display: grid;
        place-content: center;
    }

    .article-page .share-wrapper .icon-wrapper svg {
        max-width: 28px;
        max-height: 28px;
        width: 28px;
        height: auto;
    }

    .social-mobile-block {
        width: 45px;
        height: 45px;
    }
    
    .social-mobile-block>svg {
        width: 45px;
        height: 45px;
    }
}

