<div
    class="relative lg:pb-[20rem] bg-[url('/assets/image/page-smyth-ramintra/design-concept/bg-all.png')] bg-cover bg-center flex">
    <div>
        <div
            class="absolute left-0 top-0 w-full  h-full overflow-hidden bg-[url('/assets/image/page-smyth-ramintra/design-concept/bg.png')] bg-cover bg-top">
        </div>
        <div
            class="absolute w-full h-full top-0 left-0 overflow-hidden bg-[url('/assets/image/page-smyth-ramintra/design-concept/layout-bg-3.png')] bg-cover bg-top mix-blend-multiply">
        </div>
    </div>
    <div class="lg:block hidden">
        <div
            class="absolute right-0 top-10  w-1/2 h-5/6 overflow-hidden bg-[url('/assets/image/page-smyth-ramintra/design-concept/house.png')] bg-cover bg-center">
        </div>
        <div
            class="absolute right-0 top-10  w-1/2 h-5/6 overflow-hidden bg-[url('/assets/image/page-smyth-kaset/design-concept/layout-effect.png')] bg-cover bg-center">
        </div>
    </div>
    <div class="container mx-auto relative my-auto mt-20" data-aos="fade-in" data-aos-duration="1000"
        data-aos-easing="linear">
        <div class="flex lg:flex-row flex-col">
            <div class="lg:w-1/2 w-full">
                <div class="flex flex-col">
                    <h2 class="uppercase text-[#D0BF98] font-['Gotham'] font-medium lg:text-[40px] text-[24px]">
                        Design Concept
                    </h2>
                    <h3
                        class="uppercase text-nowrap font-['Tenor_Sans'] lg:text-[80px] text-[40px] text-white leading-none">
                        Metropolitan
                        <br />
                        Tropical Modern
                    </h3>
                    <img src="/assets/image/page-smyth-kaset/design-concept/house.png" alt="" class="my-5 lg:hidden">
                    <p class="text-white font-light w-3/4 text-[14px] mt-10">
                        The project embodies the concept of “METROPOLITAN TROPICAL MODERN” architecture, effortlessly
                        blending the tropical essence with the urban context. Every detail is thoughtfully considered,
                        enhancing the experience of refined living. It’s a concept rooted in “Stealth Wealth” where
                        understated refinement speaks volumes.​
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>