<div
    class="md:bg-[url('./../assets/image/story/bg.svg')] bg-[url('./../assets/image/story/bg-m.svg')] bg-no-repeat bg-cover bg-center py-10">
    <div class="container">
        <h2 class="{{font}} text-[#2C2C2C] lg:text-[30px] text-[24px] uppercase text-center">
            {{title}}
        </h2>
    </div>
    <div class="container py-5 lg:pt-5 pt-0 md:pb-5 pb-0">
        <div class="mt-5 mx-auto">
            <div class="flex justify-between lg:flex-row flex-col">
                <div class="flex justify-between">
                    <div class="my-auto">
                        <p class="text-[#797E81] text-[14px]">
                            <span class="text-black">{{projectsPage}}</span> <span class="text-black uppercase">campaigns</span>
                            (<span id="productShow">{{productShow}}</span>/<span>{{projectsPage}}</span>)
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <ul class="flex flex-wrap gap-5 card-list lg:w-full w-full mx-auto justify-between">
            {{#cardList}}
            <li class="lg:w-[32%] md:w-[48%] w-full {{cardList.show}} {{cardList.last}}" data-aos="fade-up"
                data-aos-duration="800" data-aos-easing="linear" data-aos-delay="{{cardList.delay}}"
                data-href="{{cardList.link}}" onclick="selectPropertyCard(this)" data-property_brand="{{cardList.room}}"
                data-project_label="{{cardList.label}}" data-property_type="{{cardList.type}}"
                data-property_location="{{cardList.location}}" data-property_price="{{cardList.price}}">
                <div
                    class="block lg:hidden lg:text-[16px] text-[12px] bg-[url('./../assets/icon/badge.svg')] w-auto top-0 lg:right-0 lg:mt-5 lg:left-auto left-0 lg:mr-5 absolute capitalize bg-no-repeat bg-cover px-5 py-1 text-white font-bold text-center">
                    {{cardList.label}}</div>
                <div>
                    <img src="{{cardList.s}}" alt="{{cardList.room}}" class="w-full">
                </div>
                <div class="flex w-full relative -mt-5 bg-white/50 max-h-[95px] overflow-hidden">
                    <div class="bg-white/25 absolute top-0 left-0 w-full h-full backdrop-blur-md"></div>
                    <div class="relative lg:w-[15px] w-[11px] {{cardList.border}}">
                    </div>
                    <div class="flex flex-col p-5 lg:py-2 py-2 w-full relative">
                        <div
                            class="hidden lg:block text-[12px] bg-[url('./../assets/icon/badge.svg')] w-auto top-0 lg:right-0 lg:mt-2 lg:left-auto left-0 lg:mr-2 absolute capitalize bg-no-repeat bg-cover px-5 py-1 text-white text-center">
                            {{cardList.label}}</div>
                        <h3>
                            <span class="text-[14px] uppercase font-bold">
                                {{cardList.room}}
                            </span>
                            <br>
                            <span class="font-normal text-[14px] w-3/4">{{cardList.location}}</span>
                        </h3>
                        <div class="lg:mt-3 uppercase text-[#707070] text-[12px]">
                            {{cardList.price}}</div>
                    </div>
                </div>
            </li>
            {{/cardList}}
        </ul>
        <div class="flex">
            <button type="button" class="btn mt-10 mx-auto" onclick="expandMoreFilter(this)">
                {{expandBtn}}
            </button>
        </div>
    </div>
</div>