:root {
    --header-text: 50px;
    --banner-promotion-title: 48px;
    --banner-promotion-time: 18px;
    --btn: 20px;
    --detail-headtext: 27px;
    --detail-desctext: 18px;

    --form-header-text: 58px;
    --form-sub-text: 28px;
    --form-label: 22px;
    --form-checkbox-text: 20px;
    --form-notice-text: 19px;

    --show-prod-header: 60px;
    --show-prod-sub: 31px;
    --show-prod-desc: 18px;

    --privi-card-desc: 20px;
    --privi-card-time: 18px;
}

.article-9 .show-product-text-wrapper .seerproject-btn {
    font-size: var(--btn);
    font-family: 'IBMPlexSansThai';
    font-weight: 400;
}


.article-9 .show-product-text-wrapper .desc-text-wrap {
    font-size: var(--show-prod-desc);
    font-family: 'IBMPlexSansThai';
    font-weight: 400;
}


.submit-btn.disabled {
    background-color: gray !important;
    color: #F4EEE9 !important;
    cursor: not-allowed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 55px;
    margin-top: 1.5rem;
    padding: 5px 15px;
    font-weight: bold !important;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.submit-btn.disabled:hover {
    background-color: gray !important;
    color: #F4EEE9 !important;
    cursor: not-allowed;
}

.submit-btn.disabled:active {
    background-color: gray !important;
    color: #F4EEE9 !important;
}

.submit-btn.disabled:active svg {
    fill: #F4EEE9 !important;
}

.submit-btn.disabled:hover svg {
    fill: #F4EEE9 !important;
}

.campaign-detail-main {
    background-color: #F4EEE9;
}

.article-9 {
    padding: 0;
    margin-top: 6rem;
    background: rgb(227, 199, 172);
    background: linear-gradient(180deg, rgba(227, 199, 172, 1) 0%, rgba(198, 170, 143, 1) 100%);
    position: relative;
    height: 535px;
    max-height: 500px;
    overflow-x: clip;
}

.article-9 .show-product-wrapper {
    display: flex;
    width: 80%;
    max-width: 1550px;
    margin: auto;
    height: 100%;
}

.article-9 .show-product-wrapper .show-product-image {
    width: 65%;
}

.article-9 .show-product-wrapper .show-product-text-wrapper {
    width: 35%;
}

.article-9 .show-product-wrapper .show-product-img-logo {
    margin-bottom: 1.25rem;
    width: 70%;
}

.article-9 .show-product-wrapper .show-product-image .show-product-img {
    width: 50vw;
    max-width: 900px;
    position: absolute;
    top: -5vw;
    margin-left: -3rem;
    margin-bottom: 1.5rem;
}

.article-9 .show-product-text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.article-9 .show-product-text-wrapper .header-text-wrap {
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.article-9 .show-product-text-wrapper .sub-text-wrap {
    margin-bottom: 1rem;
}

.article-9 .show-product-text-wrapper .desc-text-wrap {
    margin-bottom: 1rem;
}

.article-9 .show-product-text-wrapper .seerproject-btn-wrapper .seerproject-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 55px;
    margin-top: 1.5rem;
    padding: 5px 15px;
    color: #FFF;
    font-weight: bold;
    background-color: #948667;
    border: 1px solid #948667;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.article-9 .show-product-text-wrapper .seerproject-btn-wrapper .seerproject-btn:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 55px;
    margin-top: 1.5rem;
    padding: 5px 15px;
    color: #948667;
    font-weight: bold;
    background-color: #FFF;
    border: 1px solid #FFF;
    transition: all 0.2s ease-in-out;
}

.article-9 .show-product-text-wrapper .seerproject-btn-wrapper .seerproject-btn svg {
    margin-left: 0.5rem;
    transition: all 0.2s ease-in-out;
}

.article-9 .show-product-text-wrapper .seerproject-btn-wrapper .seerproject-btn:hover svg {
    fill: #948667;
}



@media only screen and (max-width: 1366px) {
    :root {
        --header-text: 40px;
        --banner-promotion-title: 38px;
        --banner-promotion-time: 18px;
        --btn: 20px;
        --detail-headtext: 24px;
        --detail-desctext: 18px;

        --form-header-text: 48px;
        --form-sub-text: 24px;
        --form-label: 22px;
        --form-checkbox-text: 20px;
        --form-notice-text: 19px;

        --show-prod-header: 48px;
        --show-prod-sub: 24px;
        --show-prod-desc: 18px;

        --privi-card-desc: 20px;
        --privi-card-time: 18px;
    }

    .article-9 .show-product-text-wrapper .seerproject-btn {
        font-size: var(--btn);
        font-family: 'IBMPlexSansThai';
        font-weight: 400;
    }
    
    
    .article-9 .show-product-text-wrapper .desc-text-wrap {
        font-size: var(--show-prod-desc);
        font-family: 'IBMPlexSansThai';
        font-weight: 400;
    }

}

@media only screen and (max-width: 991px) {

    .article-9 .show-product-wrapper {
        flex-direction: column;
    }

    .article-9 .show-product-wrapper .show-product-text-wrapper {
        width: 55%;
    }

    .campaign-detail-main .detail-wrapper .detail-head br {
        display: none;
    }

    .article-9 .show-product-text-wrapper {
        justify-content: flex-end;
        align-self: flex-end;
        padding-bottom: 6rem;
    }

    .article-9 .show-product-wrapper .show-product-text-wrapper .text-wrapper svg {
        width: 70%;
    }

    .article-9 {
        padding: 0;
        /* margin-top: 6rem; */
        background: rgb(227, 199, 172);
        background: linear-gradient(180deg, rgba(227, 199, 172, 1) 0%, rgba(198, 170, 143, 1) 100%);
        position: relative;
        max-height: 530px;
        overflow-x: clip;
    }

    .article-9 .show-product-wrapper .show-product-image .show-product-img {
        width: 50vw;
        max-width: 900px;
        position: absolute;
        top: -10vw;
        margin-left: 0;
    }

    .article-9 .show-product-wrapper .show-product-img-logo {
        margin-bottom: 1.25rem;
        width: 60%;
    }
}

@media only screen and (max-width: 768px) {
    .article-9 .show-product-wrapper .show-product-image .show-product-img {
        width: 85vw;
        max-width: 900px;
        position: absolute;
        top: -10vw;
        margin-left: 0;
    }

    .article-9 {
        padding: 0;
        margin-top: 6rem;
        background: rgb(227, 199, 172);
        background: linear-gradient(180deg, rgba(227, 199, 172, 1) 0%, rgba(198, 170, 143, 1) 100%);
        position: relative;
        height: 600px;
        max-height: 600px;
        overflow-x: clip;
    }

    .article-9 .show-product-text-wrapper {
        justify-content: flex-end;
        align-self: flex-end;
        padding-bottom: 6rem;
    }

    .article-9 .show-product-wrapper .show-product-img-logo {
        margin-bottom: 1.25rem;
        width: 60%;
    }

}

@media only screen and (max-width: 560px) {
    :root {
        --header-text: 30px;
        --banner-promotion-title: 24px;
        --banner-promotion-time: 18px;
        --btn: 18px;
        --detail-headtext: 22px;
        --detail-desctext: 18px;

        --form-header-text: 36px;
        --form-sub-text: 26px;
        --form-label: 20px;
        --form-checkbox-text: 18px;
        --form-notice-text: 18px;

        --show-prod-header: 36px;
        --show-prod-sub: 24px;
        --show-prod-desc: 18px;

        --privi-card-desc: 20px;
        --privi-card-time: 18px;
    }

    .article-9 .show-product-text-wrapper .seerproject-btn {
        font-size: var(--btn);
        font-family: 'IBMPlexSansThai';
        font-weight: 400;
    }
    
    
    .article-9 .show-product-text-wrapper .desc-text-wrap {
        font-size: var(--show-prod-desc);
        font-family: 'IBMPlexSansThai';
        font-weight: 400;
    }

    .article-9 .show-product-wrapper .show-product-image {
        position: absolute;
        top: -15vw;
        margin-left: -2vw;
    }

    .article-9 .show-product-wrapper .show-product-image .show-product-img {
        width: 100vw;
        max-width: 900px;
        /* position: absolute; */
        top: 0vw;
        margin-left: 0vw;
    }

    .article-9 {
        max-height: 525px;
        padding: 3rem 0 0 0;
    }

    .article-9 .show-product-wrapper {
        width: 90%;
    }

    .article-9 .show-product-wrapper .show-product-text-wrapper {
        width: 100%;
        padding-bottom: 3rem;
    }

    .article-9 .show-product-wrapper .show-product-img-logo {
        margin-bottom: 1.25rem;
        width: 55%;
    }
}

@media only screen and (max-width: 460px) {

    .article-9 .show-product-wrapper .show-product-image .show-product-img {
        width: 110vw;
        max-width: 900px;
        position: absolute;
        /* top: -15vw;
        margin-left: -7vw; */
    }

    .article-9 {
        max-height: 500px;
    }
}