<div
    class="md:bg-[url('./../assets/image/story/bg.svg')] bg-[url('./../assets/image/story/bg-m.svg')] bg-no-repeat bg-cover bg-center py-10">
    <div class="container">
        <h2 class="{{font}} text-[#013B5E] text-[40px] uppercase text-center" data-aos="fade-up"
            data-aos-duration="500" data-aos-easing="linear">
            {{title}}
        </h2>
        <p class="text-center font-['DB_OnUma'] text-[24px] font-normal text-[#013B5E]" data-aos="fade-up" data-aos-duration="500"
            data-aos-easing="linear" data-aos-delay="100">
            {{detail}}
        </p>
    </div>
    <div class="container mt-10 xl:mt-10">
        <ul class="flex flex-wrap gap-5 card-list lg:w-3/4 w-full mx-auto justify-center">
            <p class="no-data hidden uppercase"></p>
            {{#cardList}}
            <li class="md:w-[48%] w-full relative {{cardList.item.active}} cursor-pointer card-relate"
                data-property_brand="{{cardList.item.brands}}" data-project_label="{{cardList.item.label}}"
                data-property_type="{{cardList.item.type}}" data-property_location="{{cardList.item.project.location}}"
                data-property_price="{{cardList.item.price}}" data-href="{{cardList.item.url}}" data-aos="fade-up"
                data-aos-duration="500" data-aos-easing="linear" onclick="selectPropertyCard(this)">
                <div
                    class="text-[12px] bg-[url('./../assets/icon/badge.svg')] w-auto top-0  left-0 absolute capitalize bg-no-repeat bg-cover px-5 py-1 text-white font-bold text-center">
                    {{cardList.item.label}}</div>
                <div class="w-full h-[270px] bg-cover bg-center" style="background-image: url({{cardList.item.image}});"
                    alt="{{cardList.item.brands}}">
                </div>
                <div class="flex w-full relative -mt-5 bg-white/50 max-h-[95px] overflow-hidden">
                    <div class="bg-white/25 absolute top-0 left-0 w-full h-full backdrop-blur-md"></div>
                    <div class="relative lg:w-[15px] w-[11px] {{cardList.item.theme}}">
                    </div>
                    <div class="flex flex-col p-5 lg:py-2 py-2 w-full relative">
                        <h3>
                            <span class="text-[14px] uppercase font-bold">
                                {{cardList.item.brands}}
                            </span>
                            <br>
                            <span class="font-[200] text-[14px] w-3/4">{{cardList.item.location}}</span>
                        </h3>
                        <div class="lg:mt-3 uppercase text-[#707070] text-[12px]">
                            {{cardList.item.price}}</div>
                    </div>
                </div>
            </li>
            {{/cardList}}
        </ul>
        <div class="flex">
            <button type="button" class="btn mt-10 mx-auto" id="expandBtn" onclick="expandMoreFilter(this)">
                {{expandBtn}}
            </button>
        </div>
    </div>
</div>