<div class="relative lg:pb-[20rem] bg-[#271713] flex">
    <div>
        <div
            class="absolute left-0 top-0 lg:w-3/5 w-full  h-full overflow-hidden bg-[url('/assets/image/page-smyth-kaset/design-concept/bg.png')] bg-cover bg-top">
        </div>
        <div
            class="absolute w-full h-full bottom-0 left-0 overflow-hidden bg-[url('/assets/image/page-smyth-kaset/design-concept/layout-bg-2.png')] bg-cover bg-center">
        </div>
        <div
            class="absolute w-full h-1/2 bottom-0 left-0 overflow-hidden bg-[url('/assets/image/page-smyth-kaset/design-concept/layout-bg-1.png')] bg-cover bg-center mix-blend-multiply">
        </div>
    </div>
    <div class="lg:block hidden">
        <div
            class="absolute right-0 top-10  w-1/2 h-5/6 overflow-hidden bg-[url('/assets/image/page-smyth-kaset/design-concept/house.png')] bg-cover bg-center">
        </div>
        <div
            class="absolute right-0 top-10  w-1/2 h-5/6 overflow-hidden bg-[url('/assets/image/page-smyth-kaset/design-concept/layout-effect.png')] bg-cover bg-center">
        </div>
    </div>
    <div class="container mx-auto relative my-auto mt-20" data-aos="fade-in" data-aos-duration="1000"
        data-aos-easing="linear">
        <div class="flex lg:flex-row flex-col">
            <div class="lg:w-1/2 w-full">
                <div class="flex flex-col gap-3">
                    <h2 class="uppercase text-[#D0BF98] font-['Gotham'] font-medium lg:text-[40px] text-[24px] leading-none">
                        Design Concept
                    </h2>
                    <h3 class="uppercase text-nowrap font-['Tenor_Sans'] lg:text-[80px] text-[40px] text-white leading-none">
                        Modern <br class="lg:hidden block" />Classic ​
                    </h3>
                    <img src="/assets/image/page-smyth-kaset/design-concept/house.png" alt="" class="my-5 lg:hidden">
                    <p class="text-white font-light w-3/4 text-[14px]">
                        At Smyth’s, the “Urban Twist” design concept offers a seamless blend of classical Architecture
                        with contemporary elements, embodying a quiet sophistication that speaks to both timelessness
                        and modernity. Traditional forms are reimagined with a subtle modern twist, creating an ambiance
                        that is effortlessly suited to urban living. The interplay of past and present results in a
                        harmonious aesthetic that feels both familiar and refreshingly original.​
                    </p>
                    <p class="text-white font-light w-3/4 text-[14px]">
                        Each residence is crafted with the utmost precision, featuring a palette of warm tones—beige,
                        brick, and mocha—that exudes understated luxury and comfort. This design is a true reflection of
                        refined living, capturing the discerning taste of its owners while offering an inviting and
                        elegant retreat.​
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>