<div
    class="md:bg-[url('./../assets/image/story/bg.svg')] bg-[url('./../assets/image/story/bg-m.svg')] bg-no-repeat bg-cover bg-center py-10">
    <div class="container">
        <h2 class="{{font}} text-[#2C2C2C] lg:text-[30px] text-[24px] uppercase text-center">
            {{title}}
        </h2>
    </div>
    <div class="container py-5 lg:pt-5 pt-0 md:pb-5 pb-0">
        <div class="discovery-filter lg:w-3/4 mx-auto">
            <div class="flex lg:flex-row flex-col lg:gap-10 gap-3">
                <div class="lg:hidden block ml-auto mb-2 mt-14">
                    <button type="button" onclick="hideModal('discovery-filter')">
                        <img src="/assets/icon/close.svg" alt="icon">
                    </button>
                </div>
                <custom-selection id="property_type" class="selection-group" onclick="this.classList.toggle('selected')"
                    onmouseleave="this.classList.remove('selected')">
                    <div class="relative border border-1 border-[#948668] bg-white h-[40px]">
                        <div class="absolute left-0 top-0 w-full h-full">
                            <span class="absolute right-0 top-1/2 -translate-y-1/2 mr-3">
                                <img src="/assets/icon/dropdown.svg" class="w-[20px]" alt="icon">
                            </span>
                            <p class="p-2 relative text-[14px]">{{propertyType}}</p>
                        </div>
                    </div>
                    <options>
                        <option value="all" class="uppercase border border-l-0 border-r-0 border-t-0"
                            data-type="property_type" onclick="selectFilter(this)">
                            {{all_text}}
                        </option>
                        {{#propertyType}}
                        <option value="{{propertyType.title}}" class="uppercase" data-type="property_type"
                            onclick="selectFilter(this)">
                            {{propertyType.title}}
                        </option>
                        {{/propertyType}}
                    </options>
                </custom-selection>
                <custom-selection id="property_location" class="selection-group"
                    onclick="this.classList.toggle('selected')" onmouseleave="this.classList.remove('selected')">
                    <div class="relative border border-1 border-[#948668] bg-white h-[40px]">
                        <div class="absolute left-0 top-0 w-full h-full">
                            <span class="absolute right-0 top-1/2 -translate-y-1/2 mr-3">
                                <img src="/assets/icon/dropdown.svg" class="w-[20px]" alt="icon">
                            </span>
                            <p class="p-2 relative text-[14px]">{{location.text}}</p>
                        </div>
                    </div>
                    <options>
                        <option value="all" class="uppercase border border-l-0 border-r-0 border-t-0"
                            data-type="property_location" onclick="selectFilter(this)">
                            {{all_text}}
                        </option>
                        {{#location}}
                        <option value="{{location.title}}" data-property_location="{{location.title}}" class="uppercase"
                            data-type="property_location" onclick="selectFilter(this)">
                            {{location.title}}
                        </option>
                        {{/location}}
                    </options>
                </custom-selection>
                <custom-selection id="property_brand" class="selection-group"
                    onclick="this.classList.toggle('selected')" onmouseleave="this.classList.remove('selected')">
                    <div class="relative border border-1 border-[#948668] bg-white  h-[40px]">
                        <div class="absolute left-0 top-0 w-full h-full">
                            <span class="absolute right-0 top-1/2 -translate-y-1/2 mr-3">
                                <img src="/assets/icon/dropdown.svg" class="w-[20px]" alt="icon">
                            </span>
                            <p class="p-2 relative text-[14px]">{{brands.text}}</p>
                        </div>
                    </div>
                    <options>
                        <option value="all" class="uppercase border border-l-0 border-r-0 border-t-0"
                            data-type="property_brand" onclick="selectFilter(this)">
                            {{all_text}}
                        </option>
                        {{#brands}}
                        <option value="{{brands.title}}" class="uppercase" data-type="property_brand"
                            onclick="selectFilter(this)">
                            {{brands.title}}
                        </option>
                        {{/brands}}
                    </options>
                </custom-selection>
            </div>
        </div>
        <div class="mt-5 lg:w-3/4 mx-auto">
            <div class="flex justify-between lg:flex-row flex-col">
                <div class="flex justify-between">
                    <div class="my-auto">
                        <p class="text-[#797E81] text-[14px]">
                            <span class="text-black">{{projectsPage}}</span> <span class="text-black">PROJECTS</span>
                            (<span id="productShow">{{productShow}}</span>/<span>{{projectsPage}}</span>)
                        </p>
                    </div>
                    <div class="flex lg:hidden">
                        <button type="button" onclick="showModal('discovery-filter')" class="flex gap-2">
                            <p class="text-[#797E81]">Filter</p>
                            <span class="w-[18px] my-auto mb-2"><img src="/assets/icon/filter.svg" alt="icon"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container min-h-screen lg:mt-0 mt-4">
        <ul class="flex flex-wrap gap-5 card-list lg:w-3/4 w-full mx-auto justify-between">
            <p class="no-data hidden uppercase"></p>
            {{#cardList}}
            <li class="md:w-[48%] w-full relative {{cardList.item.active}} cursor-pointer"
                data-property_brand="{{cardList.item.brands}}" data-project_label="{{cardList.item.label}}"
                data-property_type="{{cardList.item.type}}" data-property_location="{{cardList.item.project.location}}"
                data-property_price="{{cardList.item.price}}" data-src="{{cardList.item.url}}"
                onclick="selectPropertyCard(this)">
                <div
                    class="block lg:hidden lg:text-[16px] text-[12px] bg-[url('./../assets/icon/badge.svg')] w-auto top-0 lg:right-0 lg:mt-5 lg:left-auto left-0 lg:mr-5 absolute capitalize bg-no-repeat bg-cover px-5 py-1 text-white font-bold text-center">
                    {{cardList.item.label}}</div>
                <div class="w-full h-[270px] bg-cover bg-center" style="background-image: url({{cardList.item.image}});"
                    alt="{{cardList.item.brands}}">
                </div>
                <div class="flex w-full relative -mt-5 bg-white/50 max-h-[95px] overflow-hidden">
                    <div class="bg-white/25 absolute top-0 left-0 w-full h-full backdrop-blur-md"></div>
                    <div class="relative lg:w-[15px] w-[11px] {{cardList.item.theme}}">
                    </div>
                    <div class="flex flex-col p-5 lg:py-2 py-2 w-full relative">
                        <div class="{{cardList.item.label.check}}">
                            <div
                                class="hidden lg:block text-[12px] bg-[url('./../assets/icon/badge.svg')] w-auto top-0 lg:right-0 lg:mt-2 lg:left-auto left-0 lg:mr-2 absolute capitalize bg-no-repeat bg-cover px-5 py-1 text-white text-center">
                                {{cardList.item.label}}</div>
                        </div>
                        <h3>
                            <span class="text-[14px] uppercase font-bold">
                                {{cardList.item.brands}}
                            </span>
                            <br>
                            <span class="font-[200] text-[14px] w-3/4">{{cardList.item.location}}</span>
                        </h3>
                        <div class="lg:mt-3 uppercase text-[#707070] text-[12px]">
                            {{cardList.item.price}}</div>
                    </div>
                </div>
            </li>
            {{/cardList}}
        </ul>
        <div class="flex">
            <button type="button" class="btn mt-10 mx-auto" onclick="expandMoreFilter(this)">
                {{expandBtn}}
            </button>
        </div>
    </div>
</div>