<div class="bg-[#F9F2E8] relative">
    <div class="flex flex-col">
        <div class="container py-10">
            <h2 class="text-[40px] text-center">
                360° experience
            </h2>
            <p class="text-[26px] text-center">
                ประสบการณ์ 360 ํ
            </p>
        </div>
        <div class="relative">
            <div class="w-full">
                <img src="/assets/image/page-smyth-kaset/experience/Group 816.png" alt="" class="w-full">
            </div>
            <div
                class="absolute w-1/4 top-0 left-0 h-full bg-[url('/assets/image/page-smyth-kaset/experience/bg.png')] flex bg-cover bg-center">
                <div class="m-auto">
                    <img src="/assets/image/page-smyth-kaset/banner/kaset-logo.png" alt="">
                    <ul class="space-y-4 mt-4">
                        <li>
                            <button type="button" id="livingRoom"
                                class="px-5 py-2 w-full outline-none backdrop-blur-md font-medium hover:bg-[#fff] hover:text-black text-white">
                                Living Room
                            </button>
                        </li>
                        <li>
                            <button type="button" id="bedRoom"
                                class="px-5 py-2 w-full outline-none backdrop-blur-md font-medium hover:bg-[#fff] hover:text-black text-white">
                                BedRoom
                            </button>
                        </li>
                        <li>
                            <button type="button" id="diningRoom"
                                class="px-5 py-2 w-full outline-none backdrop-blur-md font-medium hover:bg-[#fff] hover:text-black text-white">
                                Dining Room
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>