:root {
    --banner-head-text: 35px;
    --banner-sub-text: 20px;
    --btn-text: 20px;

    --partnership-head-text: 35px;
    --partnership-slider-text: 22px;
    --partnership-p-text: 16px;

    --form-label: 16px;
    --form-checkbox-text: 16px;
    --form-notice-text: 16px;

    --item-card-text-desc: 16px;
    --item-card-text-desc-small: 11px;
}

.ql-editor p {
    display: flex;
    gap: 1rem;
}

.loaded {
    display: flex;
}

.become-agent-section {
    position: relative;
}

.become-agent-main .portfolio .item-card .card-text-wrapper .text-desc-wrapper .text-desc {
    font-family: 'SinghaEstate';

    font-size: var(--item-card-text-desc);
    line-height: 1.2;
    text-transform: uppercase;
}

.become-agent-main .portfolio .item-card .card-text-wrapper .text-desc-small-wrapper .text-desc-small {
    font-weight: 300;
    font-size: var(--item-card-text-desc-small);
}

.become-agent-main .become-agent-section .banner-text-wrapper .banner-text-header-wrapper .header-text {
    font-size: var(--banner-head-text);
    font-family: 'SinghaEstate';

    line-height: 1.2;
    color: #FFF;
}

.become-agent-main .become-agent-section .banner-text-wrapper .banner-text-sub-wrapper .sub-text {
    font-size: var(--banner-sub-text);
    font-family: 'SinghaEstate';

    color: #FFF;
}

.become-agent-main .banner-text-wrapper .banner-button-wrapper .banner-button {
    font-size: var(--btn-text);
    font-family: 'SinghaEstate';

}

.become-agent-main .banner-slider-section .title-text-wrapper .header-text {
    font-size: var(--partnership-head-text);
    font-family: 'SinghaEstate';

    line-height: 1.2;
}

.become-agent-main .banner-slider-section .banner-slider-section .banner-slider-item-card .card-text-wrapper .text-desc {
    font-size: var(--partnership-slider-text);
    font-family: 'SinghaEstate';
    font-weight: bold;
}

.become-agent-main .banner-slider-section .banner-slider-section .banner-slider-item-card .card-text-wrapper .text-desc-small {
    font-size: var(--partnership-p-text);
    font-family: 'SinghaEstate';
}

.become-agent-main .partnership-section .partnership-header-text-wrapper .partnership-header-text {
    font-size: var(--partnership-head-text);
    font-family: 'SinghaEstate';

    line-height: 1.2;
}


.become-agent-main .partnership-section .partnership-block .block .block-text-wrapper .block-image-text {
    font-size: var(--partnership-p-text);
    font-family: 'SinghaEstate';

    color: #564B40;
}

.become-agent-main .partnership-section .partnership-block .block .block-text-wrapper .block-text {
    font-size: var(--partnership-p-text);
    font-family: 'SinghaEstate';

}

.become-agent-main .partnership-form-section .partnership-form-desc-wrapper .form-desc-header-wrapper .form-desc-header {
    font-size: var(--partnership-head-text);
    font-family: 'SinghaEstate';
    font-weight: bold;
}

.become-agent-main .partnership-form-section .partnership-form-desc-wrapper .form-desc-sub-wrapper .form-desc-sub,
.become-agent-main .partnership-form-section .partnership-form-desc-wrapper .call-wrapper .call-desc-text,
.become-agent-main .partnership-form-section .partnership-form-desc-wrapper .call-link,
.become-agent-main .partnership-form-section .partnership-form-desc-wrapper .email-link {
    font-size: var(--partnership-p-text);
    font-family: 'SinghaEstate';
}

.become-agent-main .partnership-form-wrapper .form-wrapper label {
    font-size: var(--form-label);
    font-family: 'SinghaEstate';
}

.become-agent-main .partnership-form-wrapper .form-wrapper .checkbox .form-check-label {
    font-size: var(--form-checkbox-text);
    font-family: 'SinghaEstate';
}

.become-agent-main .partnership-form-wrapper .form-wrapper textarea {
    font-size: var(--partnership-p-text);
    font-family: 'SinghaEstate';

}

.become-agent-main .partnership-form-wrapper .form-wrapper input,
.become-agent-main .partnership-form-wrapper .form-wrapper select,
.become-agent-main .partnership-form-wrapper .form-wrapper option {
    font-size: var(--partnership-p-text);
    font-family: 'SinghaEstate';

}

.become-agent-main .partnership-form-wrapper .form-wrapper option[value=""][disabled] {
    color: #a4a1a1;
    font-family: 'SinghaEstate';
    font-weight: 500 !important;
}

.become-agent-main .partnership-form-wrapper .form-wrapper .notice-text {
    font-size: var(--form-notice-text);
    font-family: 'SinghaEstate';

}

/* .become-agent-main .partnership-form-wrapper .form-wrapper .notice-wrapper1 {
    font-size: var(--form-notice-text);
    font-family: 'SinghaEstate';
    
} */

.become-agent-main .portfolio-section .title-text-wrapper .header-text {
    font-size: var(--partnership-head-text);
    font-family: 'SinghaEstate';

    line-height: 1.2;
}

.become-agent-main .partnership-form-section .submit-btn-wrapper .submit-btn {
    font-size: var(--btn-text);
    font-family: 'SinghaEstate';

}

.wrapper-space-bottom {
    margin-bottom: 0.5rem;
}

.wrapper-space-bottom-2 {
    margin-bottom: 1.5rem;
}


.become-agent-main select {
    appearance: none;
    /* background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23131313%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"); */
    background-image: url('/assets/image/becomeAgent/arrow-down.svg');
    background-repeat: no-repeat;
    background-position: right 1rem top 52.5%;
    background-size: 0.65rem auto;
}

.become-agent-main select,
.become-agent-main input {
    cursor: pointer;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.become-agent-main {
    background-color: #E8DED3;
    padding-top: 3.5rem;
}

.become-agent-main section {
    max-width: 1920px;
    margin: auto;
    overflow: hidden;
}

.become-agent-main .baner-wrapper {
    position: relative;
}

.become-agent-main .baner-wrapper .background-wrapper {
    height: 100%;
    width: 100%;
}

.become-agent-main .baner-wrapper .blur-container {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
}

.become-agent-main .baner-wrapper .banner-bg {
    width: 100%;
}

.become-agent-main .banner-text-wrapper {
    width: 50%;
    margin: auto;
    text-align: center;
    position: absolute;
    top: 33%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.become-agent-main .banner-text-wrapper {
    max-width: 600px;
}

.become-agent-main .banner-slider-section {
    margin-top: -15rem;
}


.become-agent-main .baner-wrapper .banner-bg {
    width: auto;
    max-width: fit-content;
    height: 100%;
}

.become-agent-main .banner-text-wrapper .banner-button-wrapper .banner-button {
    padding: 10px 40px 7px 40px;
    border: 1px solid #958568;
    background-color: #958568;
    color: #fff;
    cursor: pointer;
    transition: all 0.2s linear;
}

.become-agent-main .banner-text-wrapper .banner-button-wrapper .banner-button:hover {
    padding: 10px 40px 7px 40px;
    border: 1px solid #958568;
    background-color: #fff;
    color: #958568;
}


.banner-slider-section {
    /* background-color: #FFF; */
    padding: 3rem 0 0 0;
    position: relative;
}

.banner-slider-section .banner-slider-bg {
    position: absolute;
    top: 0;
    bottom: 50%;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: rgb(31 52 89);
}

.banner-slider-bg-white {
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: rgba(255, 255, 255, 1);
}

.banner-slider-section.owl-carousel {
    background-color: rgba(0, 0, 0, 0);
}


.banner-slider-section .title-text-wrapper .header-text {
    width: 50%;
    margin: auto;
    color: #fff;
    position: relative;
    z-index: 9;
    /* max-width: 720px; */
}

.become-agent-main .banner-slider-section .owl-carousel .owl-stage-outer {
    height: 100%;
}

.become-agent-main .banner-slider-section .owl-stage {
    display: flex;
    align-items: flex-start;
    height: 100%;
    /* padding: 0 4rem; */
}

.become-agent-main .banner-slider-section .owl-item {
    /* padding: 0 20px; */
    /* margin: 0 20px; */
    transition: all 0.3s linear;
    cursor: grab;
    text-align: start;
}

.become-agent-main .banner-slider-section .owl-item.active.center {
    /* -webkit-transform: scale(1.5);
    transform: scale(1.5);
    padding: 2rem; */
}

.become-agent-main .banner-slider-section .owl-nav {
    display: flex;
    width: 80%;
    margin: auto;
    gap: 1rem;
    justify-content: center;
}


.become-agent-main .banner-slider-section .owl-peg-btn-wrapper {
    width: 80%;
    margin: auto;
    text-align: center;
    position: relative;
    padding: 2rem 0 3rem;
    z-index: 3;
}

.become-agent-main .banner-slider-section .owl-nav {
    display: none;
}

.become-agent-main .banner-slider-section .owl-pag {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.become-agent-main .banner-slider-section .owl-prev,
.become-agent-main .banner-slider-section .owl-next {
    width: 40px;
    height: 40px;
    background-color: #948667 !important;

}

.become-agent-main .banner-slider-section .owl-prev>.pagination-btn,
.become-agent-main .banner-slider-section .owl-next>.pagination-btn {
    width: 100%;
    height: 100%;
    background-color: #948667 !important;
    border: none;
    cursor: pointer;
    transition: all 0.3s linear;
}

.become-agent-main .banner-slider-section .owl-prev>.pagination-btn>svg,
.become-agent-main .banner-slider-section .owl-next>.pagination-btn>svg {
    transition: all 0.3s linear;
    padding: 0.5rem;
}

.become-agent-main .banner-slider-section .owl-prev>.pagination-btn:hover>svg,
.become-agent-main .banner-slider-section .owl-next>.pagination-btn:hover>svg {
    fill: #948667 !important;
    background-color: #FFF;
    border: 1px solid #948667 !important;
}

.become-agent-main .banner-slider-section .owl-prev>.pagination-btn:active,
.become-agent-main .banner-slider-section .owl-next>.pagination-btn:active {
    transform: scale(1.2);
}

.become-agent-main .banner-slider-section .title-text-wrapper {
    width: 100%;
    text-align: center;
}

.become-agent-main .banner-slider-section .owl-carousel {
    height: 85%;
    margin: auto;
    z-index: 2;
}

.become-agent-main .banner-slider-section .banner-slider-item-card {
    cursor: grab;
}

.become-agent-main .banner-slider-section .card-image-wrapper {
    width: 100%;
}

.become-agent-main .partnership-section {
    background-color: #E2DAD3;
    width: 100%;
    max-width: 1920px;
    padding: 3rem 0 4rem;
}

.become-agent-main .partnership-section .partnership-header-text-wrapper {
    text-align: center;
    width: 40%;
    margin: auto;
    margin-bottom: 2rem;
}

.become-agent-main .partnership-section .partnership-block {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
    width: 90%;
    margin: auto;
}

.become-agent-main .partnership-section .partnership-block .block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 1rem;
}

.become-agent-main .partnership-section .partnership-block .block .block-text-wrapper .block-image-text {
    margin: 2rem 0 1rem;
}


.become-agent-main .partnership-form-section {
    display: flex;
    width: 100%;
    margin: auto;
    padding: 2rem 0;
    background-color: rgb(246, 239, 239);
    gap: 4rem;
    position: relative;
}

.become-agent-main .partnership-form-section .partnership-form-desc-wrapper .form-desc-header-wrapper {
    margin-bottom: 1rem;
}

.become-agent-main .partnership-form-section .partnership-form-desc-wrapper .form-desc-sub-wrapper>* {
    margin-bottom: 1rem;
}

.become-agent-main .partnership-form-section .partnership-form-desc-wrapper,
.become-agent-main .partnership-form-wrapper {
    width: 50%;
    padding: 3rem 1rem 0rem 1rem;
}

.become-agent-main .partnership-form-wrapper {
    margin-right: 5%;
}

.become-agent-main .partnership-form-section .partnership-form-desc-wrapper {
    padding: 3rem 10% 3rem 3rem;
    margin-left: 5%;
}

.become-agent-main .partnership-form-section .partnership-form-desc-wrapper .email-desc-wrapper {
    display: flex;
    align-items: center;
    margin: 1.5rem 0;
}

.become-agent-main .partnership-form-section .partnership-form-desc-wrapper .email-desc-wrapper svg {
    width: 24px;
    height: 24px;
    margin-right: 1rem;
}

.become-agent-main .partnership-form-section .partnership-form-desc-wrapper .call-wrapper {
    margin: 1rem 0;
}



.become-agent-main .partnership-form-section .partnership-form-desc-wrapper .call-flex {
    display: flex;
    align-items: center;
    margin: 0.5rem 0;
}

.become-agent-main .partnership-form-section .partnership-form-desc-wrapper .call-flex svg {
    width: 20px;
    height: 20px;
    margin-right: 1rem;
}

.become-agent-main .partnership-form-section .partnership-form-desc-wrapper .qr-code {
    width: 8rem;
    height: 8rem;
    margin: 1rem 0;
}

.become-agent-main .partnership-form-section .partnership-form-desc-wrapper .qr-code .qr-code-img {
    width: 100%;
    height: 100%;
}

.become-agent-main .partnership-form-wrapper .form-wrapper label {
    margin-bottom: 0rem;
}

.become-agent-main .partnership-form-wrapper .form-wrapper input,
.become-agent-main .partnership-form-wrapper .form-wrapper .dropdown {
    height: 40px;
    padding: 5px 35px 2.5px 15px;
    border-radius: 2.5px;
    margin-bottom: 1rem;
}

.become-agent-main .partnership-form-wrapper .form-wrapper .dropdown {
    padding: 5px 35px 2.5px 15px;
}

.become-agent-main .partnership-form-wrapper .form-wrapper .twosection-wrapper {
    display: flex;
}

/* .become-agent-main .partnership-form-wrapper .form-wrapper .twosection-wrapper,
.become-agent-main .partnership-form-wrapper .form-wrapper .onesection-wrapper {
    margin-bottom: 0.5rem;
} */

.become-agent-main .partnership-form-wrapper .form-wrapper .twosection-wrapper>div {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.become-agent-main .partnership-form-wrapper .form-wrapper .onesection-wrapper>div {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.become-agent-main .partnership-form-wrapper .form-wrapper .twosection-wrapper>div:nth-child(1) {
    padding: 0 1rem 0 0;
}

.become-agent-main .partnership-form-wrapper .form-wrapper .twosection-wrapper>div:nth-child(2) {
    padding: 0 0 0 1rem;
}

.become-agent-main .partnership-form-wrapper .form-wrapper input[type=checkbox] {
    width: 20px;
    height: 20px;
}

.become-agent-main .partnership-form-wrapper .form-wrapper .fullname-wrapper>*,
.become-agent-main .partnership-form-wrapper .form-wrapper .email-mobile-wrapper>*,
.become-agent-main .partnership-form-wrapper .form-wrapper .project-name-wrapper>* {
    width: 45%;
}

.become-agent-main .partnership-form-wrapper .form-wrapper .fullname-wrapper,
.become-agent-main .partnership-form-wrapper .form-wrapper .email-mobile-wrapper,
.become-agent-main .partnership-form-wrapper .form-wrapper .project-name-wrapper,
.become-agent-main .partnership-form-wrapper .form-wrapper .comment-wrapper {
    margin: 2rem auto;
}

.become-agent-main .partnership-form-wrapper .form-wrapper .fullname-wrapper>*>*,
.become-agent-main .partnership-form-wrapper .form-wrapper .email-mobile-wrapper>*>*,
.become-agent-main .partnership-form-wrapper .form-wrapper .project-name-wrapper>*>* {
    width: 100%;
}

.become-agent-main .partnership-form-wrapper .form-wrapper .fullname-wrapper label,
.become-agent-main .partnership-form-wrapper .form-wrapper .email-mobile-wrapper label,
.become-agent-main .partnership-form-wrapper .form-wrapper .project-name-wrapper label,
.become-agent-main .partnership-form-wrapper .form-wrapper .comment-wrapper label {
    margin-bottom: 1rem;
}

.become-agent-main .partnership-form-wrapper .form-wrapper .fullname-wrapper input,
.become-agent-main .partnership-form-wrapper .form-wrapper .email-mobile-wrapper input,
.become-agent-main .partnership-form-wrapper .form-wrapper .project-name-wrapper input {
    height: 55px;
    padding: 5px 15px;
}

.become-agent-main .partnership-form-wrapper .form-wrapper input,
.become-agent-main .partnership-form-wrapper .form-wrapper .comment-textarea-wrapper,
.become-agent-main .partnership-form-wrapper .form-wrapper .dropdown {
    border: 1px solid #948667;
    margin-top: 0;

    color: #9ca3af;
}

.become-agent-main .partnership-form-wrapper .form-wrapper .comment-textarea-wrapper .become-agent-main .partnership-form-wrapper .form-wrapper .fullname-wrapper,
.become-agent-main .partnership-form-wrapper .form-wrapper .email-mobile-wrapper,
.become-agent-main .partnership-form-wrapper .form-wrapper .project-name-wrapper {
    display: flex;
    justify-content: space-between;
}

.become-agent-main .partnership-form-wrapper .form-wrapper .comment-textarea-wrapper {
    width: 100%;
    background-color: #fff;
}

.become-agent-main .partnership-form-wrapper .form-wrapper .telsection-wrapper .tel-wrapper {
    display: flex;
    flex-direction: column;
}

.become-agent-main .partnership-form-wrapper .form-wrapper .telsection-wrapper .tel-wrapper .tel-colume {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.become-agent-main .partnership-form-wrapper .form-wrapper .telsection-wrapper .tel-wrapper .tel-colume>select {
    width: 25%;
    width: 30%;
    margin-right: 16px;
}

.become-agent-main .partnership-form-wrapper .form-wrapper .telsection-wrapper .tel-wrapper .tel-colume .tele-wrapper {
    width: 70%;
    margin-left: 16px;
}

.become-agent-main .partnership-form-wrapper .form-wrapper .telsection-wrapper .tel-wrapper .tel-colume input {
    width: 100%;
}

.become-agent-main .partnership-form-wrapper .form-wrapper .comment-textarea-wrapper .comment-textarea {
    width: 100%;
    height: 100px;
    resize: none;
    border: none;
    padding: 1rem;
}

.become-agent-main .partnership-form-wrapper .form-wrapper .comment-textarea-wrapper .comment-textarea:focus {
    outline: none !important;
}

.become-agent-main .partnership-form-section .checkbox-wrapper {
    width: 100%;
    margin: 1.5rem 0;
    background-color: #cccc;
    opacity: 0.65;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 25px;
    list-style-position: outside;
    margin-bottom: 1.5rem;
    gap: 1rem;
}

.become-agent-main .partnership-form-section .checkbox-wrapper .checkbox {
    display: flex;
    align-items: flex-start;
    position: relative;
}

.become-agent-main .partnership-form-section .checkbox-wrapper .checkbox input {
    cursor: pointer;
}

.become-agent-main .partnership-form-section .checkbox-wrapper .checkbox label {
    margin-left: 1rem;
}

.notice-wrapper .notice-link a {
    color: #948667;
    cursor: pointer;
    text-decoration: none;
}

.become-agent-main .partnership-form-section .submit-btn-wrapper .submit-btn.active {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 55px;
    margin-top: 1.5rem;
    padding: 5px 15px;
    color: #FFF;
    background-color: #948667;
    border: 1px solid #948667;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.become-agent-main .partnership-form-section .submit-btn-wrapper .submit-btn>p {
    margin-left: 7.5%;
}

.become-agent-main .partnership-form-section .submit-btn-wrapper .submit-btn.active:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 55px;
    margin-top: 1.5rem;
    padding: 5px 15px;
    color: #948667;
    /* cursor: pointer; */
    background-color: #FFF;
    border: 1px solid #FFF;
    transition: all 0.2s ease-in-out;
}

.become-agent-main .partnership-form-section .submit-btn-wrapper .submit-btn.active:hover svg {
    fill: #948667;
}

.become-agent-main .partnership-form-section .submit-btn-wrapper p {
    margin-right: 0.5rem;
    padding: 5px 15px;
}

.become-agent-main .partnership-form-section .submit-btn-wrapper svg {
    width: 24px;
    transition: all 0.2s ease-in-out;
}


label.error {
    color: #ff4949;
    font-size: var(--form-notice-text);
    font-family: 'SinghaEstate';

    margin: -1rem 0 1rem !important;
    display: block;
}

input.error {
    border: 2px solid #ff4949 !important;
}

.submit-btn.disabled {
    background-color: gray !important;
    color: #F4EEE9 !important;
    cursor: not-allowed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 55px;
    margin-top: 1.5rem;
    padding: 5px 15px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.submit-btn.disabled:hover {
    background-color: gray !important;
    color: #F4EEE9 !important;
    cursor: not-allowed;
}

.submit-btn.disabled:active {
    background-color: gray !important;
    color: #F4EEE9 !important;
}

.submit-btn.disabled:active svg {
    fill: #F4EEE9 !important;
}

.submit-btn.disabled:hover svg {
    fill: #F4EEE9 !important;
}


.become-agent-main .title-text-wrapper .header-text {
    font-size: var(--article11-header-text);
    font-family: 'SinghaEstate';

}

.become-agent-main .owl-peg-btn-wrapper .pag-num {
    font-size: var(--article11-desctext);
    font-family: 'SinghaEstate';

}

.become-agent-main .portfolio-section {
    position: relative;
    width: 100%;
    max-width: 1920px;
    margin: auto;
    padding: 3rem 0;
    overflow: hidden;
}

.become-agent-main .portfolio-section .portfolio-bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
    height: 100%;
    width: 100%;
}

.become-agent-main .portfolio-section .title-text-wrapper {
    position: relative;
}

.become-agent-main .portfolio-section .owl-carousel .owl-stage-outer {
    padding: 3rem 0;
    height: 100%;
}

.become-agent-main .portfolio-section .owl-stage {
    display: flex;
    align-items: center;
    height: 100%;
}

.become-agent-main .portfolio-section .owl-item {
    padding: 0 10px;
    transition: all 0.3s linear;
    cursor: grab;
}

.become-agent-main .portfolio-section .owl-item {
    -webkit-transform: scale(1);
    transform: scale(1);
}

.become-agent-main .portfolio-section .owl-item.center {
    /* -webkit-transform: scale(1.1);
    transform: scale(1.1); */
    /* margin: 0 1rem; */
}

.become-agent-main .portfolio-section .owl-item.center .item-card {
    height: 100%;
}

/* .become-agent-main .portfolio-section .owl-item.active.center{
    min-width: 340px;
} */
.become-agent-main .portfolio-section .owl-item.medium {
    /* -webkit-transform: scale(1);
    transform: scale(1); */
}
.become-agent-main .portfolio-section .owl-item.medium  .item-card .card-text-wrapper .text-desc-wrapper .text-desc{
    margin-bottom: 0rem;
}

.become-agent-main .portfolio-section .owl-nav {
    display: flex;
    width: 80%;
    margin: auto;
    gap: 1rem;
}
.become-agent-main .portfolio-section .owl-nav.disabled{
    display: none;
}

.become-agent-main .portfolio-section .owl-peg-btn-wrapper {
    width: 80%;
    margin: auto;
    text-align: center;
    position: relative;
    /* padding: 1.5rem 0 0; */
}

.become-agent-main .portfolio .item-card .card-text-wrapper {
    margin-top: -0.75rem;
    margin-bottom: 0.2rem;
}
.become-agent-main .portfolio .item-card .card-text-wrapper {
    margin-top: 0;
    margin-bottom: 0.2rem;
}

agent .become-agent-main .portfolio-section .owl-pag {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.become-agent-main .portfolio-section .owl-prev,
.become-agent-main .portfolio-section .owl-next {
    width: 40px;
    height: 40px;
    background-color: #948667 !important;

}

.become-agent-main .portfolio-section .owl-prev>.pagination-btn,
.become-agent-main .portfolio-section .owl-next>.pagination-btn {
    width: 100%;
    height: 100%;
    background-color: #948667 !important;
    border: none;
    cursor: pointer;
    transition: all 0.3s linear;
}

.become-agent-main .portfolio-section .owl-prev>.pagination-btn>svg,
.become-agent-main .portfolio-section .owl-next>.pagination-btn>svg {
    transition: all 0.3s linear;
    padding: 0.5rem;
}

.become-agent-main .portfolio-section .owl-prev>.pagination-btn:hover>svg,
.become-agent-main .portfolio-section .owl-next>.pagination-btn:hover>svg {
    fill: #948667 !important;
    background-color: #FFF;
    border: 1px solid #948667 !important;
}

.become-agent-main .portfolio-section .owl-prev>.pagination-btn:active,
.become-agent-main .portfolio-section .owl-next>.pagination-btn:active {
    transform: scale(1.2);
}

.become-agent-main .portfolio-section .title-text-wrapper {
    width: 100%;
    text-align: center;
}

.become-agent-main .portfolio-section .owl-carousel {
    margin: auto;
}


.become-agent-main .portfolio-section .owl-carousel .item-card {
    width: 100%;
    max-width: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
    /* backdrop-filter: blur(10px); */
    /* transition: 500ms all; */
}

.become-agent-main .portfolio-section .owl-carousel .item-card .card-image-wrapper {
    width: 100%;
}

.become-agent-main .portfolio-section .owl-carousel .item-card .card-image-wrapper .card-image-item {
    width: 100%;
}

.become-agent-main .portfolio-section .owl-carousel .item-card .name-image-wrapper {
    height: 60px;
}

.become-agent-main .portfolio-section .owl-carousel .item-card .name-image-wrapper .name-image-item {
    height: 100%;
    width: auto;
}

.card-button-wrapper .card-button {
    padding: 5px 15px 3.5px;
    border: 1px solid #948667;
    color: #948667;
    font-size: 16px;
}

.become-agent-main .portfolio-section .owl-item .item-card .card-button-wrapper {
    display: none;
}

.become-agent-main .portfolio-section .owl-item.center .card-button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.become-agent-main .partnership-form-section .submit-btn-wrapper .submit-btn:hover {
    color: #948667;
    background-color: #fff;
    border: 1px solid #948667;
}

.become-agent-main .partnership-form-section .submit-btn-wrapper .submit-btn:hover>svg {
    fill: #948667;
}

.notice-bold {

    color: #000;
    text-decoration: none;
}

.notice-bold>.alink:active {
    color: #000;
    text-decoration: none;
}

@media only screen and (max-width: 1366px) {
    .become-agent-main .baner-wrapper .banner-bg {
        width: auto;
        max-width: fit-content;
        height: 100%;
    }

    .become-agent-main .banner-text-wrapper,
    .banner-slider-section .title-text-wrapper .header-text,
    .become-agent-main .partnership-section .partnership-header-text-wrapper {
        width: 70%;
    }

    .become-agent-main .partnership-form-section {
        width: 100%;
        padding: 1rem 0 1rem 0;
    }

    .become-agent-main .partnership-form-section .partnership-form-desc-wrapper,
    .become-agent-main .partnership-form-wrapper {
        width: 80%;
        padding: 1.5rem 0;
    }

    .banner-slider-section .banner-slider-bg {
        bottom: 60%;
    }

    .banner-slider-section .banner-slider-bg-white {
        top: 40%;
    }
}

@media only screen and (max-width: 1024px) {

    .become-agent-main .baner-wrapper .banner-bg {
        width: auto;
        max-width: fit-content;
        height: 100%;
    }
}

@media only screen and (max-width: 991px) {

    .become-agent-main .banner-text-wrapper {
        top: 40%;
    }

    .become-agent-main .baner-wrapper .banner-bg {
        width: auto;
        max-width: fit-content;
        height: 100%;
    }


    .become-agent-main .banner-text-wrapper,
    .banner-slider-section .title-text-wrapper .header-text,
    .become-agent-main .partnership-section .partnership-header-text-wrapper {
        width: 80%;
    }

    .become-agent-main .partnership-section .partnership-block {
        grid-template-columns: 1fr 1fr;
    }

    .become-agent-main .partnership-form-section {
        flex-direction: column;
        width: 100%;
        padding: 1rem 0 2rem 0;
    }

    .become-agent-main .partnership-form-section .partnership-form-desc-wrapper,
    .become-agent-main .partnership-form-wrapper {
        width: 80%;
        padding: 2rem 0;
        margin: auto;
    }

    .become-agent-main .portfolio-section .owl-item {
        transition: all 0.3s linear;
        cursor: grab;
    }

    .banner-slider-section .banner-slider-bg-white {
        top: 40%;
    }

    .become-agent-main .banner-slider-section .owl-peg-btn-wrapper {
        padding: 0 0 3rem;
    }

    .become-agent-main .portfolio-section .owl-item.active.center {
        margin: 0;
    }

    .become-agent-main .portfolio-section .owl-item.medium {
        display: flex;
        height: fit-content;
        margin-top: auto;
        margin-bottom: auto;
    }
}


@media only screen and (max-width: 768px) {
    .become-agent-main .banner-slider-section .owl-nav {
        display: flex;
    }

    .become-agent-main .banner-text-wrapper {
        top: 25%;
    }

    .become-agent-main .banner-slider-section {
        margin-top: -30rem;
    }

    .become-agent-main .baner-wrapper .banner-bg {
        width: 100%;
        max-width: 100%;
        height: auto;
    }

    .become-agent-main .banner-text-wrapper,
    .banner-slider-section .title-text-wrapper .header-text,
    .become-agent-main .partnership-section .partnership-header-text-wrapper {
        width: 100%;
        padding: 0 0.5rem;
    }

    .become-agent-main .partnership-section .partnership-block {
        grid-template-columns: 1fr 1fr;
    }


    .become-agent-main .partnership-form-section {
        flex-direction: column;
        width: 100%;
        padding: 1rem 0 2rem 0;
    }

    .become-agent-main .partnership-form-section .partnership-form-desc-wrapper,
    .become-agent-main .partnership-form-wrapper {
        width: 80%;
        padding: 2rem 0;
        margin: auto;
    }

    .become-agent-main .banner-slider-section .owl-peg-btn-wrapper {
        padding: 2rem 0 3rem;
    }

    .become-agent-main .partnership-form-wrapper .form-wrapper .twosection-wrapper {
        flex-direction: column;
    }

    .become-agent-main .partnership-form-wrapper .form-wrapper .twosection-wrapper>div:nth-child(1) {
        padding: 0;
        width: 100%;
    }

    .become-agent-main .partnership-form-wrapper .form-wrapper .twosection-wrapper>div:nth-child(2) {
        padding: 0;
        width: 100%;
    }

}


@media only screen and (max-width: 560px) {
    .is-mobile {
        display: none;
    }

    .become-agent-main .become-agent-section .banner-text-wrapper .banner-text-header-wrapper .header-text {
        font-size: var(--banner-head-text);
        font-family: 'SinghaEstate';

        line-height: 1.2;
        color: #FFF;
    }

    .become-agent-main .become-agent-section .banner-text-wrapper .banner-text-sub-wrapper .sub-text {
        font-size: var(--banner-sub-text);
        font-family: 'SinghaEstate';

        color: #FFF;
    }

    .become-agent-main .banner-text-wrapper .banner-button-wrapper .banner-button {
        font-size: var(--btn-text);
        font-family: 'SinghaEstate';

    }

    .become-agent-main .banner-slider-section .title-text-wrapper .header-text {
        font-size: var(--partnership-head-text);
        font-family: 'SinghaEstate';

        line-height: 1.2;
    }

    .become-agent-main .banner-slider-section .banner-slider-section .banner-slider-item-card .card-text-wrapper .text-desc {
        font-size: var(--partnership-slider-text);
        font-family: 'SinghaEstate';
    }

    .become-agent-main .banner-slider-section .banner-slider-section .banner-slider-item-card .card-text-wrapper .text-desc-small {
        font-size: var(--partnership-p-text);
        font-family: 'SinghaEstate';
    }

    .become-agent-main .partnership-section .partnership-header-text-wrapper .partnership-header-text {
        font-size: var(--partnership-head-text);
        font-family: 'SinghaEstate';
        line-height: 1.2;
    }


    .become-agent-main .partnership-section .partnership-block .block .block-text-wrapper .block-image-text {
        font-size: var(--partnership-p-text);
        font-family: 'SinghaEstate';

        color: #564B40;
    }

    .become-agent-main .partnership-section .partnership-block .block .block-text-wrapper .block-text {
        font-size: var(--partnership-p-text);
        font-family: 'SinghaEstate';

    }

    .become-agent-main .partnership-form-section .partnership-form-desc-wrapper .form-desc-header-wrapper .form-desc-header {
        font-size: var(--partnership-head-text);
        font-family: 'SinghaEstate';

    }

    .become-agent-main .partnership-form-section .partnership-form-desc-wrapper .form-desc-sub-wrapper .form-desc-sub,
    .become-agent-main .partnership-form-section .partnership-form-desc-wrapper .call-wrapper .call-desc-text,
    .become-agent-main .partnership-form-section .partnership-form-desc-wrapper .call-link,
    .become-agent-main .partnership-form-section .partnership-form-desc-wrapper .email-link {
        font-size: var(--partnership-p-text);
        font-family: 'SinghaEstate';

    }

    .become-agent-main .partnership-form-wrapper .form-wrapper label {
        font-size: var(--form-label-text);
        font-family: 'SinghaEstate';
    }

    .become-agent-main .partnership-form-wrapper .form-wrapper .checkbox .form-check-label {
        font-size: var(--form-checkbox-text);
        font-family: 'SinghaEstate';
    }

    .become-agent-main .partnership-form-wrapper .form-wrapper input,
    .become-agent-main .partnership-form-wrapper .form-wrapper option {
        font-size: var(--partnership-p-text);
        font-family: 'SinghaEstate';

    }

    .become-agent-main .partnership-form-wrapper .form-wrapper option[value=""][disabled] {
        color: #a4a1a1;
        font-family: 'SinghaEstate';
        font-weight: 500 !important;
    }

    .become-agent-main .partnership-form-wrapper .form-wrapper .notice-text {
        font-size: var(--form-notice-text);
        font-family: 'SinghaEstate';

    }

    .become-agent-main .portfolio-section .title-text-wrapper .header-text {
        font-size: var(--partnership-head-text);
        font-family: 'SinghaEstate';

        line-height: 1.2;
    }

    .become-agent-main .become-agent-section {
        margin-top: -1rem;
    }


    .become-agent-main .portfolio-section .owl-nav>*:last-child {
        margin-left: 7.5%;
    }

    .become-agent-main .banner-text-wrapper {
        top: 37.5%;
    }

    .become-agent-main .banner-slider-section {
        margin-top: -15rem;
    }

    .become-agent-main .banner-text-wrapper,
    .banner-slider-section .title-text-wrapper .header-text,
    .become-agent-main .partnership-section .partnership-header-text-wrapper {}

    .become-agent-main .partnership-section .partnership-block {
        grid-template-columns: 1fr;
    }

    .become-agent-main .partnership-form-section {
        flex-direction: column;
        width: 100%;
        padding: 2rem 0;
        gap: 0;
    }

    .become-agent-main .partnership-form-section .partnership-form-desc-wrapper,
    .become-agent-main .partnership-form-wrapper {
        width: 90%;
        padding: 2rem 0 0 0;
        margin: auto;
    }

    .portfolio-section {
        display: block;
    }

    .become-agent-main .partnership-form-wrapper .form-wrapper .twosection-wrapper {
        flex-direction: column;
    }

    .become-agent-main .partnership-form-wrapper .form-wrapper .twosection-wrapper>div:nth-child(1) {
        padding: 0;
        width: 100%;
    }

    .become-agent-main .partnership-form-wrapper .form-wrapper .twosection-wrapper>div:nth-child(2) {
        padding: 0;
        width: 100%;
    }

    .become-agent-main select {
        appearance: none;
        /* background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23131313%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"); */
        background-image: url('/assets/image/becomeAgent/arrow-down.svg');
        background-repeat: no-repeat;
        background-position: right 0.5rem top 52.5%;
        background-size: 0.65rem auto;
    }

    .become-agent-main .portfolio-section .owl-carousel .owl-stage-outer {
        padding: 2rem 0;
    }

    .become-agent-main .portfolio-section .owl-item.active.center {
        -webkit-transform: scale(1);
        transform: scale(1);
        min-width: auto;
        margin: 0 1rem;
    }

    .become-agent-main .portfolio-section .title-text-wrapper .header-text {
        width: 90%;
        margin: auto;
    }

    .become-agent-main .portfolio-section .owl-carousel {
        height: 77.5%;
    }

    .become-agent-main .portfolio-section .owl-item {
        padding: 0;
        margin: 0;
    }

    .become-agent-main .banner-slider-section .owl-item {
        padding: 0 10px;
    }


    .become-agent-main .partnership-form-wrapper .form-wrapper .telsection-wrapper .tel-wrapper .tel-colume>select {
        width: 27.5%;
        margin-right: 0;
    }

    .become-agent-main .partnership-form-wrapper .form-wrapper .telsection-wrapper .tel-wrapper .tel-colume .tele-wrapper {
        width: 67.5%;
        margin-left: 0;
    }

    .become-agent-main .partnership-form-section .checkbox-wrapper {}

    .become-agent-main .partnership-form-section .checkbox-wrapper .checkbox {
        margin-bottom: 0;
    }

    .become-agent-main .partnership-form-section .checkbox-wrapper .checkbox input {
        cursor: pointer;
    }

    .become-agent-main .partnership-form-wrapper .form-wrapper input[type=checkbox] {
        padding: 10px;
    }
}

@media only screen and (max-width: 400px) {
    .become-agent-main .banner-text-wrapper {}

    .become-agent-main .banner-slider-section {
        margin-top: -10rem;
    }
}


.form-popup-wrapper {
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0) !important;
    z-index: 40;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    display: none;
}

.form-popup {
    position: absolute;
    width: 80%;
    background: #1F3459;
    color: #fff;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    place-content: center;
    padding: 0 2rem;
    height: fit-content;
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-image: url('/assets//image-new/ty/ThankYou.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.form-popup>h3 {
    font-size: 32px;
    text-transform: uppercase;
}

.form-popup>* {
    text-align: center;
    margin: 0.5rem auto;
    font-size: 24px;
}

.error-border {
    border: 2px solid #ff4949 !important;
}

.popup-header-a {
    position: fixed;
    right: 15px;
    top: 15px;
    margin: 0;
}

.thank-popup-close {
    width: 20px;
}

@media only screen and (max-width: 460px) {
    .form-popup {
        width: 90%;
        background-image: url('/assets//image-new/ty/ThankYou-m.webp');
    }

    .form-popup>h3 {
        font-size: 18px;
        margin: 0;
    }

    .form-popup>p {
        font-size: 14px;
        max-width: 230px;
    }
}