<div class="relative">
    <div class="bg-[#271713] pt-10 pb-20">
        <div class="container mx-auto lg:px-5 px-0">
            <div class="flex flex-col gap-10">
                <div>
                    <h2 class=" text-[#BA998B] text-[70px] text-center" data-aos="fade-up"
                        data-aos-duration="500" data-aos-easing="linear">
                        จุดเด่นโครงการ
                    </h2>
                </div>
                <div class="flex flex-col lg:px-20 lg:gap-10 gap-5">
                    <div class="lg:mx-0 -mx-20">
                        <img src="/assets/image/page-smyth-kaset/description/kaset-1.webp" alt="" class="w-full"
                            data-aos="fade-up" data-aos-duration="500" data-aos-easing="linear" data-aos-delay="100">
                    </div>
                    <div class="flex flex-col gap-2 lg:px-0 px-5">
                        <p class="font-['Kaisei_Decol'] text-white text-[20px] font-normal" data-aos="fade-up"
                            data-aos-duration="500" data-aos-easing="linear" data-aos-delay="200">
                            Sanctuary Of Seclusion
                        </p>
                        <p class="text-white text-[14px]" data-aos="fade-up" data-aos-duration="500"
                            data-aos-easing="linear" data-aos-delay="300">
                            ออกแบบบนพื้นฐานที่เน้นความเป็นส่วนตัว ​
                            <br class="lg:block hidden" />
                            วางแปลนให้แต่ละบ้านมี Private Court ซึ่งได้ถูกออกแบบให้เป็นจุดนำ
                            <br class="lg:block hidden" />
                            สายตาของทุกพื้นที่ในส่วนหลักๆ ของบ้าน สร้างความเป็นส่วนตัวสูง
                        </p>
                    </div>
                </div>
                <div class="flex lg:gap-10 gap-5 lg:mt-20 lg:flex-row flex-col">
                    <div class="lg:w-3/5 w-full">
                        <img src="/assets/image/page-smyth-kaset/description/kaset-2.webp" alt="" class="w-full"
                            data-aos="fade-up" data-aos-duration="500" data-aos-easing="linear" data-aos-delay="100">
                    </div>
                    <div class="flex flex-col gap-2 lg:w-2/5 w-full justify-center lg:px-0 px-5">
                        <p class="font-['Kaisei_Decol'] text-white text-[20px] font-normal" data-aos="fade-up"
                            data-aos-duration="500" data-aos-easing="linear" data-aos-delay="200">
                            Hideaway Chamber (Mancave)
                        </p>
                        <p class="text-white text-[14px]" data-aos="fade-up" data-aos-duration="500"
                            data-aos-easing="linear" data-aos-delay="300">
                            ออกแบบให้มีพื้นที่ส่วนตัวที่มีความพิเศษ Hideaway Chamber ซึ่งเชื่อมต่อกับ Supercar Garage
                            และเป็นห้องที่เพดานสูงแบบ Double Volume Space
                            โดยมีความพิเศษที่แตกต่างคือทางเดินที่เชื่อมไปยังชั้น 2 ของตัวบ้านได้อีกด้วย
                            หรือสามารถปรับเปลี่ยนพื้นที่นี้ให้เป็นห้องในฝัน
                            ได้ตามความต้องการ​
                        </p>
                    </div>
                </div>
                <div class="flex lg:gap-10 gap-5 lg:mt-20 lg:flex-row flex-col-reverse">
                    <div class="lg:w-1/2 w-full my-auto flex lg:px-0 px-5">
                        <div class="lg:w-2/3 ml-auto space-y-2">
                            <p class="font-['Kaisei_Decol'] text-white text-[20px] font-normal" data-aos="fade-up"
                                data-aos-duration="500" data-aos-easing="linear" data-aos-delay="100">
                                SIMPLIFIED CUSTOMIZABLE PLAN
                            </p>
                            <p class="text-white text-[14px]" data-aos="fade-up" data-aos-duration="500"
                                data-aos-easing="linear" data-aos-delay="200">
                                ออกแบบให้สามารถปรับเปลี่ยนพื้นที่ได้ตามความต้องการและไลฟ์สไตล์ของสมาชิกทุกคนภายในบ้าน
                                (Flexible
                                and customizable) เพื่อให้สอดรับกับการใช้ชีวิตของผู้อยู่อาศัยทุกเพศทุกวัย​
                            </p>
                        </div>
                    </div>
                    <div class="lg:w-1/2 w-full lg:px-10" data-aos="fade-up" data-aos-duration="1000"
                        data-aos-easing="linear">
                        <img src="/assets/image/page-smyth-kaset/description/kaset-3.webp" class="lg:block hidden"
                            data-aos="fade-up" data-aos-duration="500" data-aos-easing="linear" data-aos-delay="100"
                            alt="">
                        <img src="/assets/image/page-smyth-kaset/description/kaset-3-m.webp" alt="" data-aos="fade-up"
                            data-aos-duration="500" data-aos-easing="linear" data-aos-delay="100"
                            class="lg:hidden block w-full">
                    </div>
                </div>
                <div class="flex flex-col lg:px-20 lg:gap-10 gap-5 lg:mt-20">
                    <div class=" mx-auto">
                        <img src="/assets/image/page-smyth-kaset/description/kaset-4.webp" alt="" class="max-h-[450px]"
                            data-aos="fade-up" data-aos-duration="500" data-aos-easing="linear" data-aos-delay="100">
                    </div>
                    <div class="flex flex-col gap-2 lg:px-0 px-5">
                        <p class="font-['Kaisei_Decol'] text-white text-[20px] font-normal" data-aos="fade-up"
                            data-aos-duration="500" data-aos-easing="linear" data-aos-delay="200">
                            ULTIMATE PARKING SPACE
                        </p>
                        <p class="text-white text-[14px]" data-aos="fade-up" data-aos-duration="500"
                            data-aos-easing="linear" data-aos-delay="300">
                            A parking space that can accommodate up to 10 cars, including 4 indoor parking spaces, 2
                            spaces
                            in a supercar garage, and an additional 4 spaces with a parking lift system.​
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>