:root {
    --article4-header-text: 40px;
    --article4-desc-text: 16px;
}

.article-4 .article-4-wrapper .image-text-wrapper .text-wrapper .article-header-wrapper .header-text {
    font-size: var(--article4-header-text);

    line-height: 1.2;
    font-family:'SinghaEstate';
}

.article-4 .article-4-wrapper .image-text-wrapper .article-header-wrapper .article-header {
    font-size: var(--article4-header-text);

    line-height: 1.2;
    font-family:'SinghaEstate';
}

.article-4 .article-4-wrapper .image-text-wrapper .article-desc-wrapper .article-desc {
    font-size: var(--article4-desc-text);
    font-family: 'SinghaEstate';
    color: #2C2C2C;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.article-4 {
    padding: 3rem 0 0;
    background-color: #F4EEE9;
    overflow: hidden;
}

.article-4 .article-4-wrapper {
    max-width: 1920px;
    width: 100%;
    margin: auto;
    position: relative;
}

.article-4 .article-4-wrapper .image-text-wrapper .image-wrapper {
    width: 80%;
    margin: auto;
}

.article-4 .article-4-wrapper .image-text-wrapper .image-wrapper .article-4-image {
    width: 100%;
}

.article-4 .article-4-wrapper .text-wrapper {
    display: flex;
    flex-direction: column;
    width: 100% !important;
    padding: 5vw 10% 3rem !important;
    margin-top: -2rem;
    margin-right: auto;
    background-color: #FFF;
}

.article-4 .article-4-wrapper .text-wrapper .text-article-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
    margin-top: 2rem;
}

.article-4 .article-4-wrapper .image-text-wrapper .text-wrapper .article-header-wrapper .header-text {
    text-align: center;
}

.article-4 .article-4-wrapper .article-header-wrapper {
    margin-bottom: 0;
    padding: 0;
    width: 70%;
    margin: auto;
}

.article-4 .article-4-wrapper .text-wrapper .text-article-wrapper .article-header-wrapper {
    margin-bottom: 0.5rem;
    padding: 0;
    width: 100%;
    text-align: start;
}

@media only screen and (max-width: 991px) {
    :root {
        --article4-header-text: 30px;
        --article4-desc-text: 16px;
    }

    .article-4 .article-4-wrapper .image-text-wrapper .text-wrapper .article-header-wrapper .header-text {
        font-size: var(--article4-header-text);
    
        line-height: 1.2;
        font-family:'SinghaEstate';
    }
    
    .article-4 .article-4-wrapper .image-text-wrapper .article-header-wrapper .article-header {
        font-size: var(--article4-header-text);
    
        line-height: 1.2;
        font-family:'SinghaEstate';
    }
    
    .article-4 .article-4-wrapper .image-text-wrapper .article-desc-wrapper .article-desc {
        font-size: var(--article4-desc-text);
        font-family: 'SinghaEstate';
        color: #2C2C2C;
    }

    .article-4 .article-4-wrapper .text-wrapper {
        padding: 10vw 12.5% 3rem !important;
    }

    .article-4 .article-4-wrapper .text-wrapper .text-article-wrapper {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2.5rem;
        margin-top: 2rem;
    }

    .article-4 .article-4-wrapper .image-text-wrapper .image-wrapper {
        width: 100%;
        margin: auto;
    }
}

@media only screen and (max-width: 560px) {
    .article-4 .article-4-wrapper .image-text-wrapper .article-desc-wrapper .article-desc {
        line-height: 1.8;
    }

    .article-4 .article-4-wrapper .text-wrapper {
        padding: 15vw 0 3rem 0 !important;
    }

    .article-4 .article-4-wrapper .image-text-wrapper .image-wrapper .article-4-image {
        min-height: 250px;
        max-height: 250px;
        width: auto;
    }

    .article-4 {
        padding: 0rem 0 0 0;
    }
}