<div class="relative">
    <div
        class="absolute inset-0 bg-[url('/assets/image/page-smyth-home/private-estate/background.png')] bg-cover bg-no-repeat bg-center filter lg:brightness-100 brightness-75 -z-10">
    </div>

    <div class="container py-20 lg:px-5 px-0">
        <div class="flex flex-col">
            <div class="flex" data-aos="fade-right" data-aos-duration="1000" data-aos-easing="linear">
                <div class="lg:w-1/2 w-full">
                    <img class="lg:-ml-[25%] -ml-5 lg:min-w-[742px]"
                        src="/assets/image/page-smyth-home/private-estate/private-1.png" alt="">
                </div>
            </div>
            <div class="flex lg:flex-row flex-col">
                <div class="lg:w-1/2 w-full">
                    <div class="lg:p-20 px-5 lg:py-20 py-10">
                        <h2 class="font-['Tenor_Sans'] lg:text-[42px] text-[34px] text-white leading-none"
                            data-aos="fade-up" data-aos-duration="500" data-aos-easing="linear">
                            THE PRIVATE ESTATE​
                        </h2>
                        <p class="text-white font-['IBM_Plex_Sans_Thai'] mt-5" data-aos="fade-up" data-aos-duration="500"
                            data-aos-easing="linear" data-aos-delay="100">
                            A meticulously curated project, designed for
                            only a select few families. We offer ultimate privacy with an unparalleled living
                            experience.​
                        </p>
                    </div>
                </div>
                <div class="lg:w-1/2 w-full">
                    <img class="lg:ml-[5%] ml-5 lg:min-w-[742px]" data-aos="fade-left" data-aos-duration="500"
                        data-aos-easing="linear" src="/assets/image/page-smyth-home/private-estate/private-2.png"
                        alt="">
                </div>
            </div>
        </div>
    </div>
</div>