<div class="bg-[url('/assets/image/page-smyth-home/private-estate/background.png')] bg-cover bg-no-repeat bg-center">
    <div class="container py-20 lg:px-5 px-0">
        <div class="flex flex-col">
            <div class="flex"  data-aos="fade-up" data-aos-duration="1000" data-aos-easing="linear">
                <div class="lg:w-1/2 w-full">
                    <img class="lg:-ml-[25%] -ml-5 lg:min-w-[742px]"
                        src="/assets/image/page-smyth-home/private-estate/private-1.png" alt="">
                </div>
            </div>
            <div class="flex lg:flex-row flex-col"  data-aos="fade-up" data-aos-duration="1000" data-aos-easing="linear">
                <div class="lg:w-1/2 w-full">
                    <div class="lg:p-20 px-5 lg:py-20 py-10">
                        <h2 class="font-['Tenor _Sans'] lg:text-[46px] text-[34px] text-white">
                            THE PRIVATE ESTATE​
                        </h2>
                        <p class="text-white">
                            Step into the world of Singha’s private estate, <br class="lg:hidden"/>a harmonious blend of luxury and
                            exclusivity.  <br class="lg:hidden"/>The meticulously curated private estate developments are thoughtfully designed
                            for a few families, ensuring utmost privacy and  <br class="lg:hidden"/>an unrivalled living experience. Embracing a
                            truly exceptional way of life that celebrates the art of refined living.
                        </p>
                    </div>
                </div>
                <div class="lg:w-1/2 w-full">
                    <img class="lg:ml-[5%] ml-5 lg:min-w-[742px]" src="/assets/image/page-smyth-home/private-estate/private-2.png"
                        alt="">
                </div>
            </div>
        </div>
    </div>
</div>