:root {
    --header-text: 50px;
    --banner-promotion-title: 48px;
    --banner-promotion-time: 18px;
    --btn: 20px;
    --detail-headtext: 27px;
    --detail-desctext: 18px;

    --form-header-text: 58px;
    --form-sub-text: 28px;
    --form-label: 22px;
    --form-checkbox-text: 20px;
    --form-notice-text: 19px;

    --show-prod-header: 60px;
    --show-prod-sub: 31px;
    --show-prod-desc: 18px;

    --privi-card-desc: 20px;
    --privi-card-time: 18px;
}

.article-10 .title-text-wrapper .header-text {
    font-size: var(--form-header-text);
    font-family: 'Cinzel';
    font-weight: 400;
}


.article-10 .articlesRecommendation-text-wrapper p {
    font-size: var(--detail-headtext);
    font-family: 'Cinzel';
    font-weight: 400;
}

.article-10 .btn-wrapper>.exploreArticles-btn {
    font-size: var(--btn);
    font-family: 'IBMPlexSansThai';
    font-weight: 400;
}

.article-10 {
    position: relative;
    padding: 3.5rem 0;
    color: #FFF;
    overflow: hidden;
}

.article-10 .campaign-form-detail-bg {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 0;
    width: 100%;
}

.article-10 .title-text-wrapper {
    position: relative;
    z-index: 1;
    width: 80%;
    margin: 2rem auto 3rem auto;
    text-align: center;
}


.article-10 .campaign-detail-articlesRecommendation-wrapper {
    position: relative;
    width: 80%;
    margin: 2rem auto 3rem auto;
    display: flex;
}

.article-10 .campaign-detail-articlesRecommendation-wrapper .articlesRecommendation-image-wrapper {
    width: 33.33%;
    margin: 1rem;
    position: relative;
    overflow: hidden;
    color: #FFF;
}

.article-10 .campaign-detail-articlesRecommendation-wrapper .articlesRecommendation-image-wrapper .articlesRecommendation-img {
    width: 100%;
}

.article-10 .articlesRecommendation-img-ef {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 0;
    width: 100%;
}

.article-10 .articlesRecommendation-text-wrapper {
    position: absolute;
    bottom: 0;
    padding: 1rem;
    line-height: 1.4;
    /* height: 20%; */
    width: 100%;
}

.article-10 .btn-wrapper {
    position: relative;
    width: 80%;
    margin: auto;
    text-align: center;
}

.article-10 .btn-wrapper>.exploreArticles-btn {
    background-color: #948667;
    border: 1px solid #948667;
    color: #FFF;
    font-weight: bold;
    padding: 10px 20px;
    transition: all 0.2s ease-in-out;
}

.article-10 .btn-wrapper>.exploreArticles-btn:hover {
    background-color: #FFF;
    border: 1px solid #948667;
    color: #948667;
    cursor: pointer;
}

@media only screen and (max-width: 1366px) {
    :root {
        --header-text: 40px;
        --banner-promotion-title: 38px;
        --banner-promotion-time: 18px;
        --btn: 20px;
        --detail-headtext: 24px;
        --detail-desctext: 18px;

        --form-header-text: 48px;
        --form-sub-text: 24px;
        --form-label: 22px;
        --form-checkbox-text: 20px;
        --form-notice-text: 19px;

        --show-prod-header: 48px;
        --show-prod-sub: 24px;
        --show-prod-desc: 18px;

        --privi-card-desc: 20px;
        --privi-card-time: 18px;
    }

    .article-10 .title-text-wrapper .header-text {
        font-size: var(--form-header-text);
    }

    .article-10 .articlesRecommendation-text-wrapper p {
        font-size: var(--detail-headtext);
        font-family: 'Cinzel';
        font-weight: 400;
    }

}

@media only screen and (max-width: 768px) {
    .article-10 .campaign-detail-articlesRecommendation-wrapper {
        position: relative;
        width: 80%;
        margin: auto;
        display: flex;
        flex-direction: column;
    }


    .article-10 .campaign-detail-articlesRecommendation-wrapper .articlesRecommendation-image-wrapper {
        width: 50%;
        margin: 0 auto 2rem auto;
        position: relative;
        overflow: hidden;
    }
}

@media only screen and (max-width: 560px) {
    :root {
        --header-text: 30px;
        --banner-promotion-title: 24px;
        --banner-promotion-time: 18px;
        --btn: 18px;
        --detail-headtext: 22px;
        --detail-desctext: 18px;

        --form-header-text: 36px;
        --form-sub-text: 26px;
        --form-label: 20px;
        --form-checkbox-text: 18px;
        --form-notice-text: 18px;

        --show-prod-header: 36px;
        --show-prod-sub: 24px;
        --show-prod-desc: 18px;

        --privi-card-desc: 20px;
        --privi-card-time: 18px;
    }

    .article-10 .title-text-wrapper .header-text {
        font-size: var(--form-header-text);
    }

    .article-10 .articlesRecommendation-text-wrapper p {
        font-size: var(--detail-headtext);
        font-family: 'Cinzel';
        font-weight: 400;
    }
}
