<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>article component7</title>
    <link rel="stylesheet" href="./article_component7.css">
    <link rel="stylesheet" href="../../../../../fonts/font.css">
</head>

<body>
    <section class="article-7">
        <div class="article-7-wrapper">
            <div class="article-7-text-wrapper">
                <div class="article-header-wrapper1">
                    <h3 class="header-text">Aged Society</h3>
                </div>
                <div class="article-desc-text-wrapper1">
                    <p id="article-desc-text" class="article-desc-text">หลายคนอาจจะยังไม่เข้าใจคำว่า ‘Aging
                        Society​’ นั่นคือ ‘ระดับการก้าวเข้าสู่สังคมผู้สูงอายุ’ โดยจะมีประชากรอายุ 60
                        ปีขึ้นไปมากกว่าร้อยละ 10 ของประชากรทั้งหมด และเมื่อมีการเพิ่มขึ้นก็จะเป็น ‘Aged Society’
                        หรือ ‘ระดับสังคมผู้สูงอายุโดยสมบูรณ์’ เป็นสังคมที่มีสัดส่วนของประชากรอายุ 60 ปีขึ้นไปมากกว่า
                        20% ของประชากรทั้งหมด และสุดท้ายคือ ‘Super Aged Society’ หรือ ‘สังคมสูงวัยระดับสุดยอด’
                        สังคมที่มีสัดส่วนของประชากร</p>
                </div>
            </div>
            <div class="image-wrapper">
                <picture>
                    <source srcset="../../../../assets/images/estate_article/The_Extro_Running_Bowl.png"
                        media="(min-width:560px)" />
                    <img class="article-7-image"
                        src="../../../../assets/images/estate_article/The_Extro_Running_Bowl-mobile.png" alt="image" />
                </picture>
            </div>
        </div>
    </section>

        <script src="/assets/js/gsap/gsap.min.js"></script>
    <script src="/assets/js/gsap/ScrollTrigger.min.js"></script>
    <script src="./article_component7.js"></script>
</body>

</html>