<div class="bg-[#1A2F4D] lg:pt-20 pt-0 lg:pb-40">
    <div class="container !px-0 lg:!px-[20px] max-w-[1024px]">
        <div class="relative">
            <img src="/assets/image/residential/a-story-img-01.png" alt="Experience unmatched living"
                class="lg:block hidden w-full" data-aos="fade-up" data-aos-duration="1000" data-aos-easing="linear">
            <img src="/assets/image/residential/a-story-img-01_m.png" alt="Experience unmatched living"
                class="lg:hidden block w-full absolute top-0 left-0">
            <div class="lg:absolute top-0 left-0 w-full h-full flex flex-col" data-aos="fade-up" data-aos-duration="1000"
                data-aos-easing="linear">
                <div class="lg:p-20 p-5 lg:mx-0 mx-auto lg:mt-0 mt-10">
                    <h2
                        class="{{font}} text-[#CBA449] lg:text-[30px] text-[20px] md:text-start text-center uppercase leading-tight">
                        {{title}}
                    </h2>
                    <p class="text-white md:text-[18px] text-[14px] md:mt-0 mt-3 text-center md:text-start">
                        {{detail}}
                    </p>
                </div>
                <div class="w-full relative lg:px-0 px-5 lg:mt-20 mt-10">
                    <div class="flex lg:justify-end justify-center lg:flex-row flex-col">
                        <div class=" w-full ">
                            <div class="swiper experience-swiper pb-[10rem] lg:block hidden">
                                <div class="swiper-wrapper">
                                    {{#slide}}
                                    <div class="swiper-slide">
                                        <div class="lg:w-full w-[300px] card  lg:mx-0 mx-auto" data-aos="fade-up"
                                            data-aos-easing="linear" data-aos-duration="600">
                                            <img src="{{slide.image}}" alt="{{slide.title}}" class="w-full">
                                            <button type="button"
                                                class="p-3 bg-white flex flex-col expand  overflow-hidden text-left"
                                                onclick="toggleCard(this)">
                                                <div class="flex w-full justify-center">
                                                    <div class="mr-auto min-h-[30px] flex">
                                                        <h3 class="font-['Cinzel'] text-[10px] uppercase my-auto">
                                                            {{slide.title}}
                                                        </h3>
                                                    </div>
                                                    <div class="min-w-[15px] relative">
                                                        <img src="/assets/icon/plus.svg" alt="icon"
                                                            class="open cursor-pointer transition-all duration-300 absolute top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2">
                                                        <img src="/assets/icon/minus.svg" alt="icon"
                                                            class="close scale-150 cursor-pointer transition-all duration-300 absolute top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2">
                                                    </div>
                                                </div>
                                                <div class="detail transition-all duration-300">
                                                    <p class="text-left">
                                                        {{slide.detail}}
                                                    </p>
                                                </div>
                                            </button>
                                        </div>
                                    </div>
                                    {{/slide}}
                                </div>
                            </div>
                            <div class="swiper experience-swiper-m lg:pb-[5rem] pb-10 lg:hidden block"
                                data-aos="fade-up" data-aos-easing="linear" data-aos-duration="600">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="flex gap-5 md:flex-row flex-col">
                                            {{#slideM}}
                                            <div class="lg:w-[260px] md:w-full w-[280px] card lg:mx-0 mx-auto">
                                                <div class="md:h-auto overflow-hidden">
                                                    <img src="{{slideM.image}}" alt="{{slideM.title}}" class="w-full">
                                                </div>
                                                <button type="button"
                                                    class="p-3 bg-white flex flex-col expand transition-all duration-300 w-full"
                                                    onclick="toggleCard(this)">
                                                    <div class="flex w-full">
                                                        <h3
                                                            class="font-['Cinzel'] text-[12px] uppercase mr-auto text-left">
                                                            {{slideM.title}}
                                                        </h3>
                                                        <div class="w-[20px] relative">
                                                            <img src="/assets/icon/plus.svg" alt="icon"
                                                                class="open cursor-pointer transition-all duration-300 absolute top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2">
                                                            <img src="/assets/icon/minus.svg" alt="icon"
                                                                class="close scale-150 cursor-pointer transition-all duration-300 absolute top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2">
                                                        </div>
                                                    </div>
                                                    <div class="detail transition-all duration-300">
                                                        <p class="text-left text-[12px]">
                                                            {{slideM.detail}}
                                                        </p>
                                                    </div>
                                                </button>
                                            </div>
                                            {{/slideM}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>