:root {
    --header-text: 40px;
    --banner-promotion-date: 16px;
    --banner-promotion-title: 26px;
    --banner-promotion-desc: 16px;
    --btn: 18px;
    --project-allitem: 16px;
    --project-title: 16px;
    --pagination-number: 16px;
    --project-date: 13px;
}

.campaign-section-banner .explore-btn,
.prommotion-section .load-btn {
    font-size: var(--btn);
    font-family: 'IBMPlexSansThai';
    font-weight: 700;
}

.campaign-section-banner .banner-text-wapper .banner-promotion-date,
.campaign-section-banner .banner-text-wapper .banner-promotion-desc,
.campaign-section-banner .banner-text-wapper .banner-promotion-date2 {
    font-size: var(--banner-promotion-desc);
    /* line-height: 1.4; */
    font-family: 'IBMPlexSansThai';
}

.campaign-section-banner .banner-text-wapper .banner-pagination-wrapper .pagination-number {
    font-size: var(--pagination-number);
    line-height: 1.4;
    font-family: 'IBMPlexSansThai';
}

.campaign-section-banner .banner-text-wapper .banner-promotion-title {
    font-size: var(--banner-promotion-title);
    font-family: 'IBMPlexSansThai';
}

.campaign-section-banner .title-text-wrapper .header-text,
.prommotion-section .header-text {
    font-size: var(--header-text);
    font-weight: 400;
    font-family: 'Cinzel';
}

.prommotion-section .all-campaigns-text .project-allitem,
.prommotion-section .all-campaigns-text .project-item {
    font-size: var(--project-allitem);
    font-family: 'IBMPlexSansThai';
}

.prommotion-section .campaign-card .campaign-desc .project-title,
.prommotion-section .campaign-card .campaign-desc .project-desc {
    font-size: var(--project-title);
    font-family: 'IBMPlexSansThai';
    line-height: 1.2;
}

.prommotion-section .campaign-card .campaign-desc .project-title {
    font-weight: 300;
}

.campaign-section-banner .banner-text-wapper .banner-promotion-title {
    font-weight: 500;
}

.prommotion-section .campaign-card .campaign-desc .project-date {
    font-size: var(--project-date);
    font-family: 'IBMPlexSansThai';
    color: #707070;
    font-weight: 500;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.campaign-section-banner {
    background-color: #1B2F4D;
    margin-top: 5rem;
}

.campaign-section-banner .swiper-slide {
    max-height: 1350px;
}

.campaign-section-banner,
.prommotion-section {
    padding: 3rem 0;
    color: #fff;
}

.block-wrapper {
    padding: 0 0 1.25rem 0;
}

.wrapper-space-bottom {
    padding: 0 0 1rem 0;
}

.prommotion-section .title-text-wrapper,
.campaign-section-banner .title-text-wrapper {
    justify-content: center;
}

.campaign-section-banner .title-text-wrapper .header-text br {
    display: none;
}

.campaign-section-banner .banner-image {
    max-width: 1920px;
    max-height: 1000px;
    width: 85%;
    margin: auto;
    overflow-x: hidden;
}

.campaign-section-banner .banner-image .banner-image-swiper {
    width: 100%;
    height: 100%;
}

.campaign-section-banner .banner-image .banner-img {
    width: 100%;

}

.campaign-section-banner .banner-promotions-title-wrapper {
    margin-top: 1rem;
}

.prommotion-section .title-text-wrapper,
.campaign-section-banner .title-text-wrapper,
.campaign-section-banner .banner-text-wapper {
    display: flex;
    width: 80%;
    margin: 0 auto;
    max-width: 1720px;
}

.campaign-section-banner .banner-text-wapper .banner-text-block,
.campaign-section-banner .banner-text-wapper .banner-pagination-wrapper {
    width: 50%;
    padding: 0 2rem 0 0;
}

.campaign-section-banner .banner-text-wapper .swiper-container1 {
    width: 80%;
    margin: auto;
}

.campaign-section-banner .banner-text-wapper .swiper-container2 {
    width: 50%;
    padding: 0;
    overflow-x: hidden;
}

.campaign-section-banner .banner-text-wapper .banner-pagination-wrapper {
    padding: 1rem 0 1rem 2rem;
}

.campaign-section-banner .banner-text-wapper .banner-text-block {
    text-align: left;
}

.campaign-section-banner .banner-promotions-text-wrapper .banner-promotions-date-wrapper {
    display: flex;
    color: #696969;
    border-left: 3px solid #948667;
    padding-left: 2rem;
}

.campaign-section-banner .banner-promotions-text-wrapper .banner-promotions-date-wrapper * {
    margin-right: 0.25rem;
}

.campaign-section-banner .banner-text-wapper .banner-promotion-date2 {
    color: #696969;
    margin-bottom: 1.5rem;
    display: none;
}

.campaign-section-banner .btn-wrapper .explore-btn {
    padding: 0;
    display: flex;
    align-items: center;
}

.campaign-section-banner .btn-wrapper .explore-btn svg {
    margin-left: 0.5rem;
    transition: all 0.2s ease-in-out;
}

.campaign-section-banner .explore-btn {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: #948667;
    padding: 10px 0;
    transition: all 0.2s ease-in-out;
}

.campaign-section-banner .explore-btn:hover {
    /* background-color: #948667;
    border: 1px solid #948667;
    color: white; */
    cursor: pointer;
}

.campaign-section-banner .explore-btn:hover svg {
    margin-left: 1rem;
}

.campaign-section-banner .banner-pagination-wrapper .pagination-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.campaign-section-banner .banner-pagination-wrapper .pagination {
    width: 80%;
    display: flex;
    margin-right: 15px;
}

.campaign-section-banner .banner-pagination-wrapper .pagination .pag {
    height: 2px;
    width: 33.33%;
    background-color: #FFF;
    transition: all 0.2s ease-in-out;
}

.campaign-section-banner .banner-pagination-wrapper .pagination .pag.active {
    height: 2px;
    width: 33.33%;
    background-color: #948667;
}

.campaign-section-banner .pagination-btn-wrapper {
    display: flex;
    justify-content: space-between;
    width: auto;
}

.campaign-section-banner .banner-pagination-wrapper .pagination-number {
    margin-right: 15px;
}

.campaign-section-banner .pagination-btn-wrapper .pagination-btn:nth-child(1) {
    margin-right: 15px;
}

.campaign-section-banner .pagination-btn {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid white;
    padding: 10px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.campaign-section-banner .pagination-btn:hover {
    background-color: #948667;
    border: 1px solid white;
    padding: 10px;
    width: 40px;
    height: 40px;
}

/* .campaign-section-banner .pagination-btn:active {
    background-color: #948667;
    border: 1px solid white;
    padding: 10px;
    width: 40px;
    height: 40px;
    transform: scale(0.9);
} */


.prommotion-section {
    position: relative;
}

.prommotion-section .background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
}

.prommotion-section .section-wrapper {
    max-width: 1720px;
    margin: 0 auto;
    width: 80%;
}

.prommotion-section {
    color: #000;
}

.prommotion-section .all-campaigns-text {
    display: flex;
    align-items: center;
    width: 100%;
    margin: auto;
}

.prommotion-section .project-allitem {
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 0.25rem;
}

.prommotion-section .project-item {
    color: #707070;
}

.prommotion-section .all-promotions {
    display: grid;
    width: 100%;
    margin: auto;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    justify-items: space-between;
    align-items: center;
    gap: 4rem;
}

.prommotion-section .all-promotions .campaign-card {
    max-width: 495px;
}

.prommotion-section .all-promotions .campaign-card .campaign-image {
    /* max-height: 330px; */
    max-width: 495px;
    width: 100%;
}

.prommotion-section .all-promotions .campaign-card .campaign-text-wrapper {
    max-width: 495px;
    background-color: #FFF;
    /* margin-top: -5px; */
    /* max-height: 180px; */
    border-left: 14px solid rgb(126, 78, 78);
    margin-top: -2.5rem;
    position: relative;
    background-color: rgba(255, 255, 255, 0.6);
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    z-index: 10;
}

.prommotion-section .all-promotions .campaign-card .campaign-text-wrapper .campaign-desc {
    padding: 1rem;
}

.prommotion-section .all-promotions .campaign-card .campaign-text-wrapper .campaign-desc * {
    margin: 0.75rem 0 0.5rem 0;
}

.prommotion-section .all-promotions .campaign-card .campaign-text-wrapper .campaign-desc .project-date {
    margin: 0.8rem 0 0.5rem 0;
}

.time {
    display: flex;
    align-items: center;
    max-height: 1rem;
}

.time svg {
    height: 1rem;
    margin: 0.65rem 0.5rem 0.5rem 0 !important;
}

.prommotion-section .btn-wrapper {
    padding: 0;
    text-align: center;
}

.prommotion-section .load-btn {
    background-color: #948667;
    border: 1px solid #948667;
    color: #FFF;
    font-weight: normal;
    padding: 10px 20px;
    transition: all 0.2s ease-in-out;
}

.prommotion-section .load-btn:hover {
    background-color: #FFF;
    border: 1px solid #948667;
    color: #948667;
    cursor: pointer;
}

@media only screen and (max-width: 1366px) {
    :root {
        --header-text: 30px;
        --banner-promotion-date: 18px;
        --banner-promotion-title: 20px;
        --banner-promotion-desc: 15px;
        --btn: 18px;
        --project-allitem: 18px;
        --project-title: 13px;
    }
    .prommotion-section .all-promotions .campaign-card .campaign-text-wrapper .campaign-desc * {
        margin: 0.5rem 0 0.25rem 0;
    }

    .prommotion-section .all-promotions .campaign-card .campaign-text-wrapper .campaign-desc {
        padding: 0.75rem;
    }

    .prommotion-section .campaign-card .campaign-desc .project-title,
    .prommotion-section .campaign-card .campaign-desc .project-desc {
        font-size: var(--project-title);
        line-height: 1.4;
    }
}

@media only screen and (max-width: 991px) {
    :root {
        --header-text: 36px;
        --banner-promotion-date: 16px;
        --banner-promotion-title: 24px;
        --banner-promotion-desc: 15px;
        --btn: 16px;
        --project-allitem: 20px;
        --project-title: 14px;
        --pagination-number: 16px;
    }

    .campaign-section-banner .explore-btn,
    .prommotion-section .load-btn {
        font-size: var(--btn);
    }

    .campaign-section-banner .banner-text-wapper .banner-text-block .banner-promotion-date,
    .campaign-section-banner .banner-text-wapper .banner-text-block .banner-promotion-desc {
        font-size: var(--banner-promotion-desc);
        line-height: 1.4;
    }

    .campaign-section-banner .banner-text-wapper .banner-pagination-wrapper .pagination-number {
        font-size: var(--pagination-number);
        line-height: 1.4;
        font-family: 'SukhumvitSet', 'IBMPlexSansThai';
    }

    .campaign-section-banner .banner-text-wapper .banner-text-block .banner-promotion-title {
        font-size: var(--banner-promotion-title);
    }

    .campaign-section-banner .title-text-wrapper .header-text,
    .prommotion-section .header-text {
        font-size: var(--header-text);
    }

    .prommotion-section .all-campaigns-text .project-allitem,
    .prommotion-section .all-campaigns-text .project-item {
        font-size: var(--project-allitem);
    }

    .prommotion-section .campaign-card .campaign-desc .project-title,
    .prommotion-section .campaign-card .campaign-desc .project-desc {
        font-size: var(--project-title);
        line-height: 1.4;
    }

    .prommotion-section .campaign-card .campaign-desc .project-date {
        font-size: var(--project-date);
    }
    .prommotion-section .all-promotions {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 4rem;
    }

    .prommotion-section .all-promotions .campaign-card .campaign-text-wrapper {
        margin-top: -1.5rem;
    }
}


@media only screen and (max-width: 768px) {

    .campaign-section-banner {
        padding: 2rem 0;
    }

    .block-wrapper {
        padding: 0 0 2rem 0;
    }

    .campaign-section-banner .banner-image {
        width: 90%;
    }

    .prommotion-section .title-text-wrapper,
    .campaign-section-banner .title-text-wrapper,
    .campaign-section-banner .banner-text-wapper {
        flex-direction: column;
        width: 90%;
    }

    .prommotion-section .title-text-wrapper,
    .campaign-section-banner .title-text-wrapper {
        text-align: center;
    }

    .campaign-section-banner .banner-text-wapper .swiper-container2  {
        width: 100%;
    }

    .campaign-section-banner .banner-text-wapper .banner-text-block,
    .campaign-section-banner .banner-text-wapper .banner-pagination-wrapper {
        width: 100%;
        padding: 0;
    }

    .campaign-section-banner .banner-text-wapper .banner-pagination-wrapper {
        padding: 0;
        width: 100%;
        margin: auto;
    }

    .campaign-section-banner .pagination-btn {
        width: 35px;
        height: 35px;
    }

    .campaign-section-banner .pagination-btn:hover {
        width: 35px;
        height: 35px;
    }

    .campaign-section-banner .pagination-btn:active {
        width: 35px;
        height: 35px;
    }

    .campaign-section-banner .btn-wrapper {
        padding: 0 0 1.5rem 0;
    }

    .prommotion-section .all-promotions {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 4rem;
    }

    .prommotion-section .all-promotions .campaign-card .campaign-text-wrapper .campaign-desc * {
        margin: 0.25rem 0 0 0;
    }

    .prommotion-section .all-promotions .campaign-card .campaign-text-wrapper .campaign-desc {
        padding: 0.75rem
    }

    .prommotion-section .all-promotions .campaign-card .campaign-text-wrapper {
        margin-top: -1.5rem;
    }

    .campaign-section-banner .banner-text-wapper .banner-promotion-date1 {
        display: none;
    }

    .campaign-section-banner .banner-text-wapper .banner-promotion-date2 {
        color: #696969;
        margin-bottom: 1.5rem;
        margin-top: -0.5rem;
        display: block;
    }

    .campaign-section-banner .explore-btn svg {
        display: none;
    }

    .campaign-section-banner .btn-wrapper .explore-btn {
        justify-content: center;
        padding: 10px 20px;
    }

    .campaign-section-banner .explore-btn  {
        background-color: rgba(0, 0, 0, 0);
        border: 1px solid #948667;
        color: #948667;
        font-weight: normal;
        padding: 10px 20px;
        transition: all 0.2s ease-in-out;
    }
    
    .campaign-section-banner .explore-btn:hover {
        background-color: #948667;
        border: 1px solid #948667;
        color: white;
        cursor: pointer;
    }
}

@media only screen and (max-width: 660px) {
    .prommotion-section .all-promotions {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        gap: 2rem;
    }
}

@media only screen and (max-width: 560px) {
    :root {
        --header-text: 34px;
        --banner-promotion-date: 16px;
        --banner-promotion-title: 24px;
        --banner-promotion-desc: 13px;
        --btn: 16px;
        --project-allitem: 20px;
        --project-title: 14px;
        --pagination-number: 15px;
    }

    .campaign-section-banner .explore-btn,
    .prommotion-section .load-btn {
        font-size: var(--btn);
    }

    .campaign-section-banner .banner-text-wapper .banner-text-block .banner-promotion-date,
    .campaign-section-banner .banner-text-wapper .banner-text-block .banner-promotion-desc {
        font-size: var(--banner-promotion-desc);
        line-height: 1.4;
    }

    .campaign-section-banner .banner-text-wapper .banner-pagination-wrapper .pagination-number {
        font-size: var(--pagination-number);
        line-height: 1.4;
    }

    .campaign-section-banner .banner-text-wapper .banner-text-block .banner-promotion-title {
        font-size: var(--banner-promotion-title);
    }

    .campaign-section-banner .title-text-wrapper .header-text,
    .prommotion-section .header-text {
        font-size: var(--header-text);
    }

    .prommotion-section .all-campaigns-text .project-allitem,
    .prommotion-section .all-campaigns-text .project-item {
        font-size: var(--project-allitem);
        
    }

    .prommotion-section .campaign-card .campaign-desc .project-title,
    .prommotion-section .campaign-card .campaign-desc .project-desc {
        font-size: var(--project-title);
        line-height: 1.4;
    }

    .prommotion-section .campaign-card .campaign-desc .project-date {
        font-size: var(--project-date);
    }

    .campaign-section-banner .title-text-wrapper .header-text br {
        display: block;
    }

    .campaign-section-banner {
        margin-top: 4rem;
    }

    .campaign-section-banner .banner-image {
        width: 100%;
    }


    .campaign-section-banner .btn-wrapper {
        width: 100%;
        text-align: center;
    }

    .campaign-section-banner .btn-wrapper .explore-btn {
        width: 99.5%;
    }

    .prommotion-section .all-promotions .campaign-card .campaign-text-wrapper {
        margin-top: -2rem;
    }

    .prommotion-section .all-promotions .campaign-card .campaign-text-wrapper .campaign-desc * {
        margin: 0.6rem 0 0.25rem 0;
    }

    .prommotion-section .all-promotions .campaign-card .campaign-text-wrapper .campaign-desc {
        padding: 1rem
    }

}