<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="robots" content="noindex, nofollow">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests" />
    <title>article component3</title>
    <link rel="icon" type="image/svg+xml" href="/assets/image/residential/logo-mobile-header.svg">
    <link rel="stylesheet" href="./article_component3.css">
    <link rel="stylesheet" href="../../../../../fonts/font.css">
</head>

<body>
    <section class="article-3">
        <div class="article-3-wrapper">
            <div class="image-text-wrapper">
                <div class="image-wrapper">
                    <img class="article-3-background" src="../../../../../assets/images/estate_article/bg-ar.webp" alt="bg" />
                    <img class="article-3-background-ef" src="../../../../../assets/images/estate_article/background-ef.webp" alt="bg" />
                </div>
                <div class="text-wrapper">
                    <h3 class="text-wrapper-title">
                        “True Legacy Lives Now”
                    </h3>
                    <p class="text-wrapper-sub-title">
                        ด้วยบริบททางสังคมในปัจจุบัน ทำให้ไลฟ์สไตล์การใช้ชีวิตของคนไทยเริ่มมีการเปลี่ยนแปลงไป 
                        อาจสังเกตได้จากหลายคนมีการครองตัวเป็นโสดกันมากขึ้น 
                    </p>
                </div>
            </div>
        </div>
    </section>
        <script src="/assets/js/gsap/gsap.min.js"></script>
    <script src="/assets/js/gsap/ScrollTrigger.min.js"></script>
    <script src="./article_component3.js"></script>
</body>

</html>