<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="robots" content="noindex, nofollow">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests" />
    <title>article component8</title>
    <link rel="icon" type="image/svg+xml" href="/assets/image/residential/logo-mobile-header.svg">
    <link rel="stylesheet" href="./article_component8.css">
    <link rel="stylesheet" href="../../../../../fonts/font.css">
</head>

<body>
    <section class="article-8">
        <div class="article-8-wrapper">
            <div class="image-wrapper">
                <iframe class="article-8-image" style="aspect-ratio: 16/9;" src="https://www.youtube.com/embed/DUe65F7QsO0"
                        title="SINGHA ESTATE Company Profile 2024 [TH Version]" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            <div class="text-wrapper">
                <div class="article-desc-text-wrapper">
                    <p id="article-desc-text" class="article-desc-text">ด้วยบริบททางสังคมในปัจจุบัน
                        ทำให้ไลฟ์สไตล์การใช้ชีวิตของคนไทยเริ่มมีการเปลี่ยนแปลงไป
                        อาจสังเกตได้จากหลายคนมีการครองตัวเป็นโสดกันมากขึ้น </p>
                </div>
            </div>
        </div>
    </section>

        <script src="/assets/js/gsap/gsap.min.js"></script>
    <script src="/assets/js/gsap/ScrollTrigger.min.js"></script>
    <script src="./article_component8.js"></script>
</body>

</html>