* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --article11-header-text: 60px;
    --article11-desctext: 18px;
}

.article-11 .title-text-wrapper .header-text {
    font-size: var(--article11-header-text);
    font-family: 'Cinzel';
    font-weight: 400;
}

.article-11 .owl-peg-btn-wrapper .pag-num {
    font-size: var(--article11-desctext);
    font-family: 'IBMPlexSansThai';
    font-weight: 400;
}


.article-11 {
    padding: 6rem 0;
    background-color: #E8DED3;
}

.article-11 .owl-carousel .owl-stage-outer {
    padding: 2rem 0;
}

.article-11 .owl-stage {
    display: flex;
    align-items: center;
    height: 100%;
}

.article-11 .owl-item {
    padding: 20px;
    margin: 20px;
    transition: all 0.3s linear;
    cursor: grab;
}

.article-11 .owl-item.active.center {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    padding-left: 2rem;
    padding-right: 2rem;
}

/* .article-11 .owl-carousel .owl-video-play-icon {
    background: url('../../../../assets/owl-carousel/owl.video.play.png') no-repeat center center;
    width: 68px;
    height: 48px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -24px;
    margin-left: -34px;
    cursor: pointer;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    transition: transform 0.15s ease;
} */

.article-11 .owl-nav {
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
}



.article-11 .owl-peg-btn-wrapper {
    width: 80%;
    margin: auto;
    text-align: center;
    position: relative;
    padding: 1.5rem 0;
}

.article-11 .owl-pag {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.article-11 .owl-prev,
.article-11 .owl-next {
    width: 40px;
    height: 40px;
    background-color: #948667 !important;
    
}

.article-11 .owl-prev > .pagination-btn,
.article-11 .owl-next > .pagination-btn {
    width: 100%;
    height: 100%;
    background-color: #948667 !important;
    border: none;
    cursor: pointer;
    transition: all 0.3s linear;
}

.article-11 .owl-prev > .pagination-btn > svg,
.article-11 .owl-next > .pagination-btn > svg {
    transition: all 0.3s linear;
    padding: 0.5rem;
}

.article-11 .owl-prev > .pagination-btn:hover > svg,
.article-11 .owl-next > .pagination-btn:hover > svg{
    fill: #948667 !important;
    background-color: #FFF;
    border: 1px solid #948667 !important;
}

.article-11 .owl-prev > .pagination-btn:active,
.article-11 .owl-next > .pagination-btn:active {
    transform: scale(1.2);
}

.article-11 .title-text-wrapper {
    width: 100%;
    text-align: center;
}

@media only screen and (max-width: 1366px) {
    :root {
        --article11-header-text: 40px;
        --article11-desctext: 18px;
    }
    
    .article-11 .title-text-wrapper .header-text {
        font-size: var(--article11-header-text);
        font-family: 'Cinzel';
        font-weight: 400;
    }
    
    .article-11 .owl-peg-btn-wrapper .pag-num {
        font-size: var(--article11-desctext);
        font-family: 'IBMPlexSansThai';
        font-weight: 400;
    }

}

@media only screen and (max-width: 768px) {
    .article-11 .owl-nav {
        display: flex;
        margin-left: auto;
        margin-right: 0;
        gap: 10px;
        justify-content: flex-end;
    }
    .article-11 {
        padding: 4rem 0;
    }
}

@media only screen and (max-width: 560px) {
    :root {
        --article11-header-text: 30px;
        --article11-desctext: 18px;
    }
    
    .article-11 .title-text-wrapper .header-text {
        font-size: var(--article11-header-text);
        font-family: 'Cinzel';
        font-weight: 400;
    }
    
    .article-11 .owl-peg-btn-wrapper .pag-num {
        font-size: var(--article11-desctext);
        font-family: 'IBMPlexSansThai';
        font-weight: 400;
    }

    .article-11 {
        padding: 3rem 0;
    }

    .article-11 .owl-pag {
        position: relative;
    }

    .article-11 .owl-peg-btn-wrapper {
        padding: 1.5rem 0 0 0;
    }

}
