.header-contianer {
    width: 100%;
    background-color: #F3F1EB;
    height: 63px;
    max-width: 1920px;
    margin: auto;
}

.header-contianer * {
    font-family: var(--font-IBMPlexSansThai);
    font-size: 14px;
    color: #5D4F48;
}

.header-contianer .header-container-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1366px;
    width: 90.5%;
    margin: auto;
    height: 100%;
    position: relative;
}

.make-center-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    z-index: 0;
    align-items: center;
    justify-content: center;
}

.make-center-container .make-center {
    margin: auto;
    cursor: pointer;
    letter-spacing: 2.5px;
}

.header-contianer .header-container-wrapper .header-icon-flex .header-div>button>a svg:first-child {
    margin-top: -2px;
}

.header-contianer .header-container-wrapper .header-icon-flex .header-div>button>a svg:last-child {
    margin-top: 3px;
}

.header-contianer .header-container-wrapper .header-icon-flex {
    display: flex;
    align-items: center;
    margin: auto 0;
    gap: 15px;
    position: relative;
    z-index: 1;
}


.header-contianer .header-container-wrapper .header-icon-flex .header-div>a,
.header-contianer .header-container-wrapper .header-icon-flex .header-div>button,
.header-contianer .header-container-wrapper .header-icon-flex .header-div>button>a {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.header-contianer .header-container-wrapper .header-icon-flex .header-div>a:hover svg,
.header-contianer .header-container-wrapper .header-icon-flex .header-div>button:hover svg,
.header-contianer .header-container-wrapper .header-icon-flex .header-div>button:hover>a svg {}

.header-contianer .header-container-wrapper .header-icon-flex .header-div>button>a svg {
    width: 24px;
    height: 24px;
}

.lang-change-select {
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
}

.lang-change>a {
    display: flex;
}

.header-span {
    width: 100vw;
    /* Stretch across the viewport width */
    position: fixed;
    /* Ensure it stays in place */
    top: 50%;
    /* Initial position off-screen */
    left: 0;
    /* Align to the left edge */
    background-color: #F3F1EB;
    /* Background color */
    display: none;
    /* Initially hidden */
    transition: top 1s ease, height 1s ease;
    /* Smooth transition */
}

.header-span.active {
    top: 0;
    /* Position at the top of the viewport when active */
    height: 100vh;
    /* Set a height to make it scrollable */
    display: block;
    /* Show the element */
    overflow-y: scroll;
    /* Enable vertical scrolling */
    z-index: 40;
}

.header-span .header-spanwrapper {
    max-width: 1366px;

}

.header-span .header-spanwrapper * {
    color: rgb(26 47 77);
    font-weight: bold;
}

.header-span-tilte a:hover p {
    /* color:#000; */
    text-decoration: underline;
}

.header-span .header-spanwrapper .header-logo {
    display: flex;
    justify-content: flex-start;
    padding: 20px 0;
}

.header-spanwrapper .link-wrapper li:hover a {
    /* color: #000; */
    text-decoration: underline;
}

.header-spanwrapper .link-wrapper * {
    font-size: 16px;
}

.header-spanwrapper .header-span-tilte p {
    font-size: 40px;
    font-weight: bold;
}

.logo-close-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.hearder-close {
    width: 40px;
    height: 40px;
}

.hearder-close button {
    width: 40px;
    height: 40px;
    padding: 5px;
}

.header-spanwrapper {
    width: 80%;
    margin: 0 auto;
}

.header-span .header-spanwrapper .header-logo {
    display: flex;
    justify-content: flex-start;
    padding: 10px 0;
}

.header-spanwrapper .span-block {
    padding: 0 0 10px 0;
}

.header-spanwrapper .header-span-tilte {
    margin: 10px 0;
}

.header-spanwrapper .link-wrapper li {
    margin: 7.5px 0;
    font-size: 18px;
}

.header-spanwrapper .link-wrapper li:hover {
    margin: 5px 0;

}

.header-span.active a:hover {
    text-decoration: underline;
    color: #1a2f4d;
}


.span-contact-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 35px;
}

.span-contact-wrapper .contact-n-link {
    width: 50%;
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    gap: 100px;
}

.call-number-text {
    font-size: 12px;
    margin-bottom: -15px;
}

.tel-number-wrapper .tel-number {
    font-size: 50px;
    line-height: 1;
    margin-bottom: 10px;
}

.tel-number-wrapper {
    margin-bottom: 15px;
}

.span-contact-wrapper .contact-n-link .contact-n-link-block {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
}

.span-contact-wrapper * {
    font-size: 16px;
}

.flsa {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 200px;
}

.social-wrapper {
    display: flex;
    gap: 20px;
}

.social-n-link {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    width: 30%;
    /* margin-right: 30%; */
}

.social-n-link .lang-change {
    margin-top: 26px;
    margin-bottom: 2.2rem;
}

.icon-social {
    width: 24px;
    height: 24px;
}

.icon-social svg {
    min-width: 24px;
    min-height: 24px;
}

#span-close svg {
    padding: 10px;
}


#project-btn a svg {
    margin-top: 3px;
}

.lang-changeim {
    margin-top: -2px;
}

@media only screen and (max-width: 1024px) {
    .text-center2 {
        display: none;
    }
    .header-spanwrapper {
        width: 90%;
    }

    .header-spanwrapper .header-span-tilte p {
        font-size: 30px;
    }

    .social-n-link {
        margin-right: 0;
        align-items: center;
    }

    .span-contact-wrapper .contact-n-link .contact-n-link-block {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .span-contact-wrapper .contact-n-link {
        width: 100%;
        display: flex;
        align-items: flex-end;
        flex-direction: row;
        gap: 10px;
    }

    .span-contact-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        padding-bottom: 20px;
    }

    .social-wrapper {
        flex-direction: column;
        display: none;
    }

    .logo-close-wrapper {
        padding: 0;
    }

    .social-n-link .lang-change {
        margin: 0 0 10px 0;
        position: absolute;
        top: 8.5%;
        right: 10%;
    }

    .tel-number-wrapper {
        margin-bottom: 5px;
        margin-top: -10px;
    }

    .header-contianer .header-container-wrapper .header-icon-flex {
        gap: 0;
    }

    .header-contianer .header-container-wrapper .header-icon-flex.btngroup {
        margin: 3px 0 -3px 0;
    }

    .header-span .header-spanwrapper .header-logo {
        display: flex;
        justify-content: flex-start;
        padding: 60px 0 30px;
    }

    .hearder-close {
        position: absolute;
        top: 2.5%;
        right: 5.5%;
    }

    #project-btn p {
        display: none;
    }

    .social-n-link {
        width: 0;
    }

}