<div class="py-10 pt-0 bg-[#1A2F4D]">
    <div class="">
        <div class="overflow-hidden relative lg:h-[80dvh] h-[50dvh]">
            <div class="w-full h-full" data-aos="fade-in" data-aos-duration="1000" data-aos-easing="linear"
                data-aos-delay="300">
                <img class="w-full lg:block hidden" src="/assets/image/learn_more/Group 1000004304.png"
                    alt="learn more aboute singha estate">
                <img class="w-full lg:hidden block" src="/assets/image/learn_more/home-mo.jpg"
                    alt="learn more aboute singha estate">
            </div>
            <div class="absolute top-0 left-0 w-full h-full flex">
                <div class="container relative lg:pt-20 z-10 lg:my-0 my-auto">
                    <div class="lg:px-10 flex flex-col">
                        <h2 data-aos="fade-up" data-aos-duration="1000" data-aos-easing="linear"
                            class="{{font}} text-white lg:text-[30px] text-[24px] leading-tight lg:text-left text-center uppercase ">
                            {{title}}
                        </h2>
                        <p class="lg:text-[18px] text-[12px] text-white lg:text-left text-center lg:mt-0 mt-2 "
                            data-aos="fade-up" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="100">
                            {{detail}}
                        </p>
                        <div class="mt-5" data-aos="fade-up" data-aos-duration="1000" data-aos-easing="linear"
                            data-aos-delay="200">
                            <a type="button" class="btn " href="https://www.singhaestate.co.th/th/about" target="_blank">
                                {{more}}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container lg:-mt-[12rem] relative">
        <div class="lg:bg-[#15274196] lg:p-10 lg:w-3/4 mx-auto">
            <div class="">
                <ul class="flex gap-5 flex-wrap">
                    <li class="lg:flex-[1_1_30%] flex-[1_1_100%] shadow-xl animate-border-hover flex flex-col"
                        data-aos="fade-up" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="100">
                        <div>
                            <img src="/assets/image/learn_more/1.png"
                                alt="5 Ways to Create a Productive Working Environment" class="w-full">
                        </div>
                        <div class="bg-white flex flex-col h-full">
                            <div class="px-5 lg:pt-5 pt-5 pb-5 flex flex-col h-full lg:min-h-[180px]">
                                <div>
                                    <p
                                        class="text-[14px] border border-[3px] border-[#786028] border-r-0 border-t-0 border-b-0 leading-tight pl-3 text-[#696969]">
                                        S BLOG</p>
                                </div>
                                <div class="mb-auto mt-2">
                                    <h3>
                                        5 Ways to Create a Productive Working Environment
                                    </h3>
                                </div>
                                <div class="mt-2 flex gap-4 ">
                                    <p class="text-[#A3A3A3] text-[14px]">14 JULY 2023</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="lg:flex-[1_1_30%] flex-[1_1_100%]  shadow-xl animate-border-hover flex flex-col"
                        data-aos="fade-up" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="200">
                        <div>
                            <img src="/assets/image/learn_more/2.png"
                                alt="Make Your Dream Honeymoon a Reality at CROSSROADS Maldives" class="w-full">
                        </div>
                        <div class="bg-white flex flex-col h-full">
                            <div class="px-5 lg:pt-5 pt-5 pb-5 flex flex-col h-full lg:min-h-[180px]">
                                <div>
                                    <p
                                        class="text-[14px] border border-[3px] border-[#786028] border-r-0 border-t-0 border-b-0 leading-tight pl-3 text-[#696969]">
                                        TRAVEL</p>
                                </div>
                                <div class="mb-auto mt-2">
                                    <h3>
                                        Make Your Dream Honeymoon a Reality at CROSSROADS Maldives
                                    </h3>
                                </div>
                                <div class="mt-2 flex gap-4">
                                    <p class="text-[#A3A3A3] text-[14px]">14 JULY 2023</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="flex-[1_1_30%] shadow-xl animate-border-hover flex flex-col" data-aos="fade-up"
                        data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="300">
                        <div>
                            <img src="/assets/image/learn_more/3.png"
                                alt="SIRANINN Residences’ A Perfect Home for Living in an ‘Aging Society’"
                                class="w-full">
                        </div>
                        <div class="bg-white flex flex-col h-full">
                            <div class="px-5 lg:pt-5 pt-5 pb-5 flex flex-col h-full lg:min-h-[180px]">
                                <div>
                                    <p
                                        class="text-[14px] border border-[3px] border-[#786028] border-r-0 border-t-0 border-b-0 leading-tight pl-3 text-[#696969]">
                                        S LIFE</p>
                                </div>
                                <div class="mb-auto mt-2">
                                    <h3>
                                        SIRANINN Residences’ A Perfect Home for Living in an ‘Aging Society’
                                    </h3>
                                </div>
                                <div class="mt-2 flex gap-4">
                                    <p class="text-[#A3A3A3] text-[14px]">14 JULY 2023</p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="flex">
            <a type="button" class="btn mt-10 mx-auto" href="https://www.singhaestate.co.th/en/news-room">
                {{more}}
            </a>
        </div>
    </div>
</div>