<div class="title-text-wrapper wrapper-space-bottom">
    <h2 class="header-text">{{title}}</h2>
</div>
<img class="campaign-form-detail-bg" src="/assets/image/estate_article/Rectangle4.png" alt="bg">
<div class="campaign-detail-articlesRecommendation-wrapper">
    {{#article.item}}
    <a href="#" class="articlesRecommendation-image-wrapper">
        <img class="articlesRecommendation-img md:block hidden" src="{{article.item.recomended.l}}"
            alt="{{article.item.topic}}">
        <img class="articlesRecommendation-img md:hidden block" src="{{article.item.recomended.s}}"
            alt="{{article.item.topic}}">
        <img class="articlesRecommendation-img-ef" src="/assets/image/estate_article/effect.png" alt="bg">
        <div class="articlesRecommendation-text-wrapper">
            <h3>{{article.item.title}}</h3>
        </div>
    </a>
    {{/article.item}}
</div>
<div class="btn-wrapper wrapper-space-bottom">
    <button type="button" class="exploreArticles-btn">{{more}}</button>
</div>