@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: 'IBM Plex Sans Thai';
}

:root {
    --main: #948667;
}

h3 {
    @apply font-bold;
}

#header {
    @apply z-[9999] top-0 left-0 w-full absolute;
}

.wrapped {
    @apply !w-full !max-w-full !h-full !max-h-full;
}
#header .animate-h{
    /* -webkit-animation: header-animate 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: header-animate  0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both; */
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-right: 20px;
    padding-left: 20px;
}

.hero-progress-bar {
    background: white;
}

.hero-progress-bar .swiper-pagination-progressbar-fill {
    background-color: var(--main);
}

.card {
    position: relative;
}

.card .expand {
    max-height: 4rem;
    @apply lg:absolute relative;
}

.card .expanded {
    max-height: 10rem;
    @apply lg:absolute relative;
}

.card .expand .open {
    @apply opacity-100 rotate-0;
}

.card .expanded .open {
    @apply opacity-0 rotate-180;
}

.card .expand .detail {
    height: 0;
    overflow: hidden;
    opacity: 0;
}

.card .expanded .detail {
    margin-top: 5px;
    opacity: 1;
    height: 100%;
    @apply text-[14px];
}
.prev,.next{
    @apply hover:bg-black/10 hover:scale-110;
}

.collection-detail-slide .swiper-slide,
.privilege-detail-slide .swiper-slide {
    opacity: 0 !important;
}

.collection-detail-slide .swiper-slide-active,
.privilege-detail-slide .swiper-slide-active {
    opacity: 1 !important;
}

.selection-group {
    @apply w-full cursor-pointer text-[#696969] relative;
}

.selection-group options option {
    @apply p-3 bg-white hover:text-[#B2A17D] hover:bg-[#EBE1CD];
}

.selection-group options {
    @apply hidden absolute w-full max-h-[21rem] overflow-y-scroll;
}

.selection-group.selected options {
    @apply block z-20;
}

.selection-group options option:disabled {
    @apply text-[#A3A3A3] bg-white;
}

.button-main {
    @apply transition-all;
    @apply border border-[var(--main)] border-2 rounded cursor-pointer;
    @apply hover:bg-[url(--main)] hover:text-white hover:bg-[var(--main)];
}

.show-tiles {
    @apply button-main;
    @apply w-[40px] h-[40px] bg-[length:20px_20px] bg-center bg-no-repeat;
    @apply hover:bg-[var(--main)];
    @apply bg-[url('./../assets/icon/tiles.svg')];
    @apply hover:bg-[url('./../assets/icon/tiles_focus.svg')];
    @apply hidden;
}

.show-list {
    @apply button-main;
    @apply w-[40px] h-[40px] bg-[length:20px_20px] bg-center bg-no-repeat;
    @apply hover:bg-[var(--main)];
    @apply bg-[url('./../assets/icon/list.svg')];
    @apply hover:bg-[url('./../assets/icon/list_focus.svg')];
    @apply hidden;
}

.map-view {
    @apply button-main;
    @apply text-[var(--main)] px-3 flex;
    @apply h-[40px];
    @apply hidden;
}


[attr-list-type="show-tiles"] .show-tiles {
    @apply bg-[var(--main)];
    @apply bg-[url('./../assets/icon/tiles_focus.svg')];
}

[attr-list-type="show-list"] .show-list {
    @apply bg-[var(--main)];
    @apply bg-[url('./../assets/icon/list_focus.svg')];

}

[attr-list-type="map-view"] .map-view {
    @apply bg-[var(--main)] text-white;
}


.btn {
    @apply text-white bg-[var(--main)] py-3 px-5 hover:bg-white hover:text-[var(--main)] border-[var(--main)] border transition-all duration-300;
}

lifeStlyeCardL {
    @apply flex;
}

lifeStyleCardL lifeStyleDetail {
    @apply bg-white;
}

.animate-border-hover {
    @apply relative after:-bottom-[1px] after:transition-all after:duration-300 hover:after:border after:border-[#948668] hover:after:border-[0.5rem] after:border-0 after:absolute hover:after:border-t-0 hover:after:border-l-0 hover:after:border-r-0 after:w-full;
}

button {
    font-family: 'IBM Plex Sans Thai';
}

.discovery-filter {
    @apply lg:relative lg:block hidden transition-all duration-300;
}

.discovery-filter.show {
    @apply fixed top-0 left-0 w-full h-full lg:p-0 p-5 lg:bg-transparent bg-[#1A2F4D] z-30 lg:hidden block;
}

#our_properties_brand_collection .img-list li {
    @apply hidden cursor-pointer transition-all duration-300;
    -webkit-animation: fade-in-left 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in-left 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

#our_properties_brand_collection .img-list li.active {
    @apply block;
}

#our_properties_brand_collection .link-active{
    @apply !opacity-100 !px-0;
}
#our_properties_brand_collection .link-active .hidden{
    @apply !block;
}

/* modal */
.modal {
    @apply absolute left-0 right-0 z-10 overflow-hidden transition-all duration-1000 h-0;
}

.modal.open {
    @apply h-full z-50;
}

.modal.open .modal-bg {
    @apply h-full;
}

.modal-bg {
    @apply absolute top-0 left-0 w-full h-0 transition-all duration-1000;
}

.modal .modal-content {
    @apply opacity-0 transition-all duration-1000 min-h-[220px];
}

.modal.open .modal-content {
    @apply opacity-100 delay-[1000ms];
}

.burgerbar {
    @apply w-[20px] h-[20px] relative;
}

.burgerbar .icon-open {
    @apply opacity-100 absolute top-0 left-0 w-full h-full transition-all duration-300;
}

.burgerbar .icon-close {
    @apply opacity-0 absolute top-0 left-0 w-full h-full transition-all duration-300;
}

.burgerbar.open .icon-open {
    @apply opacity-0;
}

.burgerbar.open .icon-close {
    @apply opacity-100;
}

.modal .header-menu-list {
    @apply flex flex-col;
}

.modal .header-menu-list li {
    @apply relative;
}

.modal .header-menu-list li.active .link {
    @apply before:w-[5px] before:h-[25px] before:bg-[#948668] before:border-0 before:my-auto before:absolute before:top-1/2 before:-translate-y-1/2 before:left-0;
}

.modal .header-menu-list li .link {
    @apply flex gap-4 text-white lg:px-5 py-3 hover:bg-[#2D4F7F];
}

.modal .header-menu-list li.active .link{
    @apply lg:px-5 px-5
}

#header-sub-menu.modal .header-menu-list li .link {
    @apply before:w-[5px] before:h-[25px] before:bg-[#948668] before:border-0 before:my-auto before:absolute before:top-1/2 before:-translate-y-1/2 before:left-0;
    @apply hover:bg-transparent cursor-auto pl-5 text-white;
}

.modal.modal-l {
    @apply lg:block hidden;
}

.modal.modal-m {
    @apply lg:hidden block;
}

.modal.modal-m .fixed {
    @apply hidden;
}

.modal.modal-m.open .fixed {
    @apply block;
}

.modal .header-menu-list li:hover .link {
    @apply before:w-[5px] before:h-[25px] before:bg-[#948668] before:border-0 before:my-auto before:absolute before:top-1/2 before:-translate-y-1/2 before:left-0;
}


.modal-m .header-menu-list li button svg {
    @apply rotate-180;
}

.modal-m .header-menu-list li.active button svg {
    @apply rotate-0;
}

.modal-m .header-menu-list li .menu-expand {
    @apply hidden;
}

.modal-m .header-menu-list li.active .menu-expand {
    @apply block;
}

.custom-pagination-square {
    @apply absolute bottom-0 left-0 w-full flex justify-center;
}

.custom-pagination-square .swiper-pagination-bullet {
    @apply w-[50px] rounded-none h-[1px] relative;
}

.custom-pagination-square .swiper-pagination-bullet-active {
    @apply relative bg-black/20;
}

.custom-pagination-square .swiper-pagination-bullet-active::after {
    @apply absolute top-0 left-0 bg-white transition-all h-full;
    width: var(--vdo-width) !important;
}

.custom-pagination-square .swiper-pagination-bullet {
    @apply after:absolute after:top-0 after:left-0 after:bg-white after:transition-all after:w-0;
}
.highlight-story-slide .custom-pagination-square{
    @apply lg:w-1/2 px-5 left-1/2 -translate-x-1/2;
}
.highlight-story-slide .custom-pagination-square .swiper-pagination-bullet {
    @apply bg-[#B09E8C]/60 after:bg-[#B09E8C] opacity-100 after:!w-0 after:transition-all after:duration-[5s] h-[2px];
    @apply w-full;
}

.highlight-story-slide .custom-pagination-square .swiper-pagination-bullet-active {
    @apply after:bg-[#2C2C2C] after:!w-full ;
}

.swiper-fade .swiper-slide {
    @apply opacity-0;
}

.swiper-fade .swiper-slide-active {
    @apply opacity-100;
}

#header-menu-m .header-menu-list li:last-child {
    border: 0px !important;
}
.animate-border-line{
    @apply relative;
}
.animate-border-line{
    @apply after:absolute after:bottom-1 after:w-0 hover:after:w-full after:left-0 after:bg-black after:h-[2px] after:transition-all after:duration-1000;
}
.active.animate-border-line{
    @apply after:!w-full;
}
#footer {
    @apply relative;
}
#footer .footer-expand-icon{
    @apply lg:hidden;
    @apply absolute top-1/2 right-0 -translate-y-1/2 w-[15px];
}
#footer .footer-expand-icon img{
    @apply absolute top-1/2 right-0 -translate-y-1/2 w-[15px] transition-all duration-1000;
}
#footer .list{
    @apply lg:flex hidden;
}

#footer .expand .footer-expand-icon .open {
    @apply opacity-100 rotate-0;
}

#footer .expanded .footer-expand-icon .open {
    @apply opacity-0 rotate-180;
}

#footer .expand .footer-expand-icon .close {
    @apply opacity-0 rotate-180;
}
#footer .expanded .footer-expand-icon .close {
    @apply opacity-100 rotate-180;
}
#footer .expanded .list {
    @apply flex;
}
.fade-in-left {
    -webkit-animation: fade-in-left 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in-left 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2024-6-5 17:47:30
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in-left
 * ----------------------------------------
 */
@-webkit-keyframes fade-in-left {
    0% {
        -webkit-transform: translateX(-50px);
        transform: translateX(-50px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade-in-left {
    0% {
        -webkit-transform: translateX(-50px);
        transform: translateX(-50px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

/* ----------------------------------------------
 * Generated by Animista on 2024-6-11 7:31:38
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-ver-top
 * ----------------------------------------
 */
.scale-up-ver-top {
    -webkit-animation: scale-up-ver-top 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-ver-top 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-ver-top {
    0% {
        -webkit-transform: scaleY(0.4);
        transform: scaleY(0.4);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
    }

    100% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
    }
}

@keyframes scale-up-ver-top {
    0% {
        -webkit-transform: scaleY(0.4);
        transform: scaleY(0.4);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
    }

    100% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
    }
}

.fade-in {
    -webkit-animation: 0.1s fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: 0.1s fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-6-11 7:49:4
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#sitemap{
    @apply py-40 text-[#1A2F4D] bg-[#E9E2DC];
}
#sitemap .title{
    @apply text-[24px] flex flex-col gap-5 font-bold;
}
#sitemap .subtitle{
    @apply text-[24px];
}
#sitemap .detail{
    @apply text-[16px] flex flex-col gap-3;
}
#sitemap .link{
    @apply font-normal;
}

/* 017588622 */



@-webkit-keyframes header-animate {
    0% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
    50% {
        -webkit-transform: scaleY(1.5);
        transform: scaleY(1.5);
    }

    100% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
}

@keyframes header-animate {
    0% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
    50% {
        -webkit-transform: scaleY(1.5);
        transform: scaleY(1.5);
    }

    100% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
}