@media (orientation: landscape) {
    .lity-wrap {
        transform: rotate(0deg);
        width: 100%;
        margin: unset;
    }

    .lity-close {
        top: 35px;
    }
}

@media (orientation: portrait) {
    .lity-wrap {
        transform: rotate(90deg);
        width: 100%;
        margin: auto;
        height: 100vw;
    }
}