<div class="bg-[url('/assets/image/page-smyth-home/craft-your-tale/background.png')] bg-cover bg-no-repeat bg-center">
    <div class="py-20">
        <div class="container lg:px-5 px-0">
            <div class="flex flex-col mx-auto justify-center gap-20">
                <div class="flex flex-col justify-center">
                    <p class="font-['Tenor_Sans'] lg:text-[110px] text-[40px] text-white text-center relative z-10 leading-none"
                        data-aos="fade-up" data-aos-duration="1000" data-aos-easing="linear">
                        CRAFT <br class="lg:hidden block" /> YOUR TALE
                    </p>
                    <div class="lg:-mt-14 -mt-5 lg:w-4/5 w-full mx-auto">
                        <img src="/assets/image/page-smyth-home/craft-your-tale/craft-your-tale_desktop.png"
                            data-aos="fade-up" data-aos-duration="1000" data-aos-easing="linear" alt=""
                            class="lg:block hidden w-full">
                        <img src="/assets/image/page-smyth-home/craft-your-tale/craft-your-tale_mobile.png"
                            data-aos="fade-up" data-aos-duration="1000" data-aos-easing="linear" alt=""
                            class="lg:hidden block w-full">
                    </div>
                </div>
                <div class="flex flex-col  mx-auto lg:px-0 px-3 gap-3">
                    <div>
                        <h2 class="text-center lg:text-[40px] text-[32px] font-['Gotham'] leading-none" data-aos="fade-up"
                            data-aos-duration="1000" data-aos-easing="linear">
                            CRAFT YOUR TALE​
                        </h2>
                    </div>
                    <div class="space-y-3">
                        <p class="text-center text-[20px]" data-aos="fade-up" data-aos-duration="1000"
                            data-aos-easing="linear">
                            ​We believe that true luxury <br class="lg:hidden block" /> lies in creating a space ​
                            <br class="lg:block hidden" />
                            where all worlds <br class="lg:hidden block" /> coexist to the full extent​
                        </p>
                        <p class="text-center text-[20px]" data-aos="fade-up" data-aos-duration="1000"
                            data-aos-easing="linear">
                            SMYTH’S offer the timeless <br class="lg:hidden block" /> thoughtful designed space​
                            <br class="lg:block hidden" />
                            <br class="lg:hidden block" /> between seclusion and socialization. ​
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>