<div
    class="relative bg-no-repeat bg-center bg-cover py-10 brand-collection-bg bg-[url('./../assets/image/brand/santiburi-bg.webp')]">
    <div class="bg-[#E9E2DC]/75 absolute top-0 left-0 w-full h-full backdrop-blur-md"></div>
    <div class="relative ">
        <div class="container pb-5 lg:mt-0 mt-5">
            <h2 class="lg:text-[34px] text-[26px] lg:text-start text-center uppercase {{font}} leading-tight "
                data-aos="fade-up" data-aos-duration="1000" data-aos-easing="linear"
                data-aos-anchor=".trigger-brand-collection">
                {{title}}
            </h2>
            <ul class="flex gap-10 lg:text-[18px] lg:justify-start justify-center project-list mt-3">
                {{#projects}}
                <li data-aos="fade-up" data-aos-duration="1000" data-aos-easing="linear"
                    data-aos-anchor=".trigger-brand-collection">
                    <button type="button" data-projects="{{projects.name}}"
                        class="text-nowrap {{projects.active}} animate-border-line capitalize"
                        onclick="selectProjects(this)">
                        <h3 class="font-normal">{{projects.name}}</h3>
                    </button>
                </li>
                {{/projects}}
            </ul>
        </div>
    </div>
    <div class="relative">
        <div class="container">
            <div class="flex lg:flex-row flex-col-reverse gap-10">
                <div class="flex-[1_1_40%]">
                    {{#productsList}}
                    <div class=" flex flex-col gap-2 product-list {{productsList.active}}"
                        data-projects="{{productsList.name}}">
                        <ul>
                            {{#productsList.item}}
                            <li onmouseenter="selectProductsCard(this)" data-name="{{productsList.item.name}}"
                                class="{{productsList.item.active}} cursor-pointer transition-all duration-300 opacity-50 lg:px-10 px-5 cursor-pointer transition-all duration-300">
                                <div class="flex gap-10 " data-aos="fade-up" data-aos-duration="1000"
                                    data-aos-anchor=".trigger-brand-collection" data-aos-easing="linear">
                                    <div class="my-auto">
                                        <h4 class="lg:text-[30px] text-[26px] font-['Cinzel']">
                                            {{productsList.item.name}}
                                        </h4>
                                    </div>
                                    <a href="{{productsList.item.link}}" target="_blank"
                                        onclick="selectBrandCollection(this)"
                                        data-property_brand="{{productsList.item.brands}}"
                                        data-project_label="{{productsList.item.label}}"
                                        data-property_type="{{productsList.item.type}}"
                                        data-property_location="{{productsList.item.location}}"
                                        data-property_price="{{productsList.item.price}}"
                                        class="border hover:scale-110 hover:bg-black/10 hidden border-1 border-black px-3 py-2 my-auto cursor-pointer transition-all duration-300">
                                        Explore More
                                    </a>
                                </div>
                            </li>
                            {{/productsList.item}}
                        </ul>
                    </div>
                    {{/productsList}}
                </div>
                <div class="flex-[1_1_60%] lg:-mt-[8rem]">
                    {{#imageList}}
                    <ul class="img-list {{imageList.css.hidden}}" data-projects="{{imageList.name}}" data-aos="fade-up" data-aos-duration="1000"
                        data-aos-anchor=".trigger-brand-collection" data-aos-easing="linear" data-aos-delay="300">
                        {{#imageList.item}}
                        <li class="{{imageList.item.active}}" data-name="{{imageList.item.name}}">
                            <img src="{{imageList.item.l}}" alt="{{imageList.item.name}}">
                            <div
                                class="py-3 border border-[1rem] border-[#46111B] border-t-0 border-r-0 border-b-0 relative">
                                <div
                                    class="bg-[#E4DCD5]/50 absolute top-0 left-0 w-full h-full backdrop-blur-md brightness-125">
                                </div>
                                <img src="{{imageList.item.logo}}" alt="{{imageList.item.name}}"
                                    class="mx-auto md:w-[200px] w-[160px] relative">
                            </div>
                        </li>
                        {{/imageList.item}}
                    </ul>
                    {{/imageList}}
                </div>
            </div>
        </div>
    </div>
</div>